---
title: "big and fat, born without arms or legs, born to jump in the air and clap"
pagination:
  data: thoughts
  size: 32
  alias: items
  addAllPagesToCollections: true
---

{% set counter = 0 %}
{% set scoreTotal = 0 %}
{% for score in thoughts %}
    {% set counter = counter + 1 %}
    {% set scoreTotal = scoreTotal + score.score %}
{% endfor %}

{% extends "base.njk" %}

{% block headStyle %}
  .media-grid-container {
    display: grid;
    padding: 10px;
  }
  .media-grid-item {
    margin: 20px;
    background-color: #1f1e1e;
    padding: 10px;
    border-radius: 6px;
    max-width: 250px;
  }
  .media-grid-item > h3, p, .media-head > h3 {
    margin: 0;
  }
  .media-grid-item > img {
    max-height: 450px;
    display: block;
    border-radius: 4px;
    object-fit: cover;
  }
  .media-score {
    font-weight: bold;
    font-size: 14px;
  }
  .media-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
  }
  .media-head {
    display: flex;
    justify-content: space-between;
    margin: 3px 0 3px 0;
  }
  .media-head p {
    margin: 0;
  }
  .media-top {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
  }
  #mediaSearchInput, .media-top div {
    padding: 12px 20px;
    background: linear-gradient(180deg, #212526 0, #1e2222 30%, #181f22 50%, #0d1013 100%);
    box-sizing: border-box;
    color: #fff;
    border: dotted #fff 1px;
  }
  .media-top div {
    display: flex;
    min-width: 300px;
    align-items: center;
    justify-content: center;
  }
  #mediaSearchInput {
    width: 100%;
  }
  @media screen and (min-width: 700px) {
    .media-top {
      flex-direction: row;
    }
    .media-grid-container {
      grid-template-columns: auto auto;
    }
  }
  @media screen and (min-width: 1000px) {
    .media-grid-container {
      grid-template-columns: auto auto auto;
    }
  }
  @media screen and (min-width: 1300px) {
    .media-grid-container {
      grid-template-columns: auto auto auto auto;
    }
  }
{% endblock %}

{% block head %}
<noscript>
  <style>
    #mediaSearchInput {
      display: none;
    }
  </style>
</noscript>
{% endblock %}

{% block content %}
  <div class="background-div" style="display:flex; justify-content:center; gap:8px; margin-bottom: 10px;">
    {{ emojis.exclamation | safe }}
    <span style="font-size: large;"><a href="/pages/blog/2025_music">Click here for Moosyu's top 10 albums of 2025</a></span>
    {{ emojis.exclamation | safe }}
  </div>
  <div class="media-top">
    <div>
      <a href="/pages/graphs/thoughts_dist/" class="score-link">Current average score: {{ (scoreTotal / counter).toFixed(2) }}/10</a>
      <noscript>
        <span>Current average score: {{ (scoreTotal / counter).toFixed(2) }}/10</span>
      </noscript>
    </div>
    <input autocomplete="off" type="text" id="mediaSearchInput" placeholder="Search...">
  </div>
  <div id="searchResults"></div>
  <div class="background-div">
    <div class="media-grid-container">
      {% for item in items %}
        {% set readTime = item.description | readTime %}
        <div class="media-grid-item" id="{{ loop.index0 }}">
            <div class="media-head">
                <h3 title="{{ item.name }}" class="media-title">{{ item.name }}</h3>
                <h3 style="{% if item.score < 1 %} color: #5e5e5e;
                  {% elif item.score < 3 %} color: #ff4c4c;
                  {% elif item.score < 5 %} color: #ff8888;
                  {% elif item.score < 7 %} color: #f0e68c;
                  {% elif item.score < 8 %} color: #7bc96f;
                  {% elif item.score < 10 %} color: #00cc66;
                  {% else %} color: #9d63d0;
                  {% endif %}">
                  {{ item.score }}/10
                </h3>
            </div>
            <p>{{ item.type }}</p>
            <div class="media-head">
              <a href="/pages/thoughts/{{ item.name | slugify }}-{{ item.type | slugify }}/">Read thoughts... ({{ readTime }} min read)</a>
              {% if (item.image) %}
                {{ emojis.media_image | safe }}
              {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="pagination-container">
      <div class="pagination-buttons left">
          {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" id="previous-link">Previous</a>
          {% else %}
          <span>Previous</span>
          {% endif %}
      </div>

      <select id="pageDropdown" onchange="window.location.href=this.value;">
          {%- for pageEntry in pagination.pages %}
          <option value="{{ pagination.hrefs[loop.index0] }}" {% if page.url == pagination.hrefs[loop.index0] %} selected {% endif %}>
              Page {{ loop.index }}
          </option>
          {%- endfor %}
      </select>

      <div class="pagination-buttons right">
          {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" id="next-link">Next</a>
          {% else %}
          <span>Next</span>
          {% endif %}
    </div>
  </div>
  <script src="/js/fusejs.js"></script>
  <script>
  fetch("/_data/thoughts.min.json")
    .then(response => response.json())
    .then(data => {
      const options = {
        keys: ["name", "alt", "artist"],
        threshold: 0.3, // lower the number the more strict
      };

      const fuse = new Fuse(data, options);
      const searchInput = document.getElementById("mediaSearchInput");
      const searchResults = document.getElementById("searchResults");

      searchInput.addEventListener("input", () => {
        const query = searchInput.value.trim();
        const results = fuse.search(query);
        searchResults.innerHTML = results.map(result => {
          return `
          <div class="background-div">
            <h1><a href="/pages/thoughts/${slugify(result.item.name)}-${slugify(result.item.type)}/">${result.item.name}</a></h1>
          </div>
          `;
        }).join("");
      });
    });
    /*i asked some smart people and they said this script is gonna blow up if my json file gets too large, but i asked what they meant and they said like 1mb or larger and since its only 1/10th of that right now im just not gonna worry about it. im sure like 25 year old version of me will be able to solve this issue (technology will probably be so good by then that it wont matter anyways). life hack.*/

    // knockoff | slugify
    function slugify(str) {
      return str
        .toLowerCase()
        .trim()
        .replace(/[^a-z0-9']+/g, "-")
        // if any regex fans want to make these two one thing please hmu bc i couldnt figure it out
        .replace(/'/g, "")
        .replace(/(^-|-$)/g, "");
    }
  </script>
{% endblock %}