---
layout: "_layouts/thoughts-layout.njk"
title: "sorry for party rocking"
pagination:
  data: thoughts
  size: 1
  alias: item
permalink: "/pages/thoughts/{{ item.name | slugify }}-{{ item.type | slugify }}/"
---

<div style="flex-grow: 3;">
  <h1>{{ item.name }}</h1>
  <p>Type: {{ item.type }}</p>
  <p>Score: {{ item.score }}/10</p>
  <p>{{ item.description }}</p>
</div>
{% if (item.image) or (item.imageB) %}
  <div style="flex-grow: 1;">
    <h2>Media:</h2>
    <img src="{{ item.image }}" alt="image 1" onclick="toggleFullscreen(this)">
    {% if (item.imageB) %}
      <img src="{{ item.imageB }}" alt="image 2" onclick="toggleFullscreen(this)">
    {% endif %}
  </div>
{% endif %}