---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="three in a row">
    <main class="bottom-div">
        <p>Do you ever get so bored you make tictactoe? Yeah.</p>
        <div id="tictactoe"></div>
    </main>
</BaseLayout>
<script>
    import "../../scripts/tictactoe.ts"
</script>