<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="moosyu is online">
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <div class="container">
    <div class="main-box">
    {% if header_img %}
    <img src="{{ header_img }}" style="display:block; margin-left:auto; margin-right:auto; max-width: 100%;" alt="title">
    {% else %}
    <img src="/public/assets/title.gif" style="display:block; margin-left:auto; margin-right:auto; max-width: 100%;" alt="title">
    {% endif %}    
    {% block content %}{% endblock %}
    </div>
        <div class="side-box">
          <div class="box box1">
            <nav class="boxes-r">
                <p class="title-rain">navbar:</p>
                <ul>
                    <li class="hoverli"><a href="/">home</a></li>
                    <li class="hoverli"><a class="rev" href="/pages/reviews/">reviews</a></li>
                    <li class="hoverli"><a class="ramb" href="/pages/ramblings/">ramblings</a></li>
                    <li class="hoverli"><a class="guide" href="/pages/guides/">guides</a></li>
                    <li class="hoverli"><a class="blog" href="/pages/blog/">pseduo blog</a></li>
                    <li class="hoverli"><a class="map" href="/pages/sitemap/">site-map</a></li>
                </ul>
            </nav>
                        <div class="statuscafe-box boxes-r">
                    {% if side_nav_img %}
                    <img src="{{ side_nav_img }}" style="display: block; margin-left: auto; margin-right: auto; max-width: 170px; padding-top: 15px; padding-bottom: 15px;" alt="silly little image">
                    {% else %}
                    <img src="/public/assets/noah.jpeg" style="display: block; margin-left: auto; margin-right: auto; max-width: 170px; padding-top: 15px; padding-bottom: 15px;" alt="silly little image">
                    {% endif %}    
            </div>
          </div>
    </div>
    </div>
</body>
</html>