<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="description" content="moosyu is online">
    <meta content="https://moosyu.github.io/" property="og:url" />
    <meta content="https://i.imgur.com/Ru5lwia.png" property="og:image" />
    <meta content="#1c2025" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image">
    <title>{{title or "moosyus wix site"}}</title>
    {% set css %} {% include "../css/styles.css" %} {% endset %}
    {% set prismCss %} {% include "../css/prismTheme.css" %} {% endset %}
    <style>
        {% block headStyle %}{% endblock %}
        {{ css | cssmin | safe }}
        {{ prismCss | cssmin | safe }}
        .active-tab {
            background: linear-gradient(0deg,
                #2ca2d1 0%,
                #00000000 30%
            ) !important;
        }
    </style>
    <noscript>
        <style>
            .navbar-expander {
                display: none;
            }
            .navbar-content {
                max-height: 100%;
                opacity: 1;
            }
            .navbar {
                width: auto;
            }
        </style>
    </noscript>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <span class="navbar-expander">
            <svg onclick="document.querySelector('.navbar').classList.toggle('expanded');"
            width="24" height="24" fill="#FFF" viewBox="-1 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
            <path d="M8.5 15.313a1.03 1.03 0 0 1-.728-.302l-6.8-6.8a1.03 1.03 0 0 1 1.455-1.456L8.5 12.828l6.073-6.073a1.03 1.03 0 0 1 1.455 1.456l-6.8 6.8a1.03 1.03 0 0 1-.728.302"/>
            </svg>
        </span>
        <div class="navbar-content">
            <a href="/" {% if page.url == '/' %}class="active-tab" style="border-radius: 0 0 0 3px;"{% endif %}><span class="nav-emojis">{{ emojis.home | safe }}</span>Home</a>
            <div class="dropdown">
                <button class="dropbtn {% if '/pages/media/comics' in page.url or '/pages/media/games' in page.url or '/pages/media/tv' in page.url or '/pages/media/music' in page.url %}active-tab{% endif %}"><span class="nav-emojis">{{ emojis.reviews | safe }}</span>Media</button>
                <div class="dropdown-content">
                    <a href="/pages/media/comics/">Comics &amp; Books</a>
                    <a href="/pages/media/music/">Music</a>
                    <a href="/pages/media/tv/">TV &amp; Movies</a>
                    <a href="/pages/media/games/">Games</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn {% if '/pages/ramblings/2025' in page.url or '/pages/ramblings/2024' in page.url %}active-tab{% endif %}"><span class="nav-emojis">{{ emojis.ramble | safe }}</span>Ramblings</button>
                <div class="dropdown-content">
                    <a href="/pages/ramblings/2025">2025</a>
                    <a href="/pages/ramblings/2024">2024</a>
                </div>
            </div>
            <a href="/pages/blog" {% if '/pages/blog' in page.url %}class="active-tab"{% endif %}><span class="nav-emojis">{{ emojis.blog | safe }}</span>Blog</a>
            <a href="/pages/panels" {% if '/pages/panels' in page.url %}class="active-tab"{% endif %}><span class="nav-emojis">{{ emojis.panels | safe }}</span>Panels</a>
            <a href="/pages/bookmarks" {% if '/pages/bookmarks' in page.url %}class="active-tab"{% endif %}><span class="nav-emojis">{{ emojis.bookmarks | safe }}</span>Bookmarks</a>
            <a href="/pages/links" {% if '/pages/links' in page.url %}class="active-tab"{% endif %}><span class="nav-emojis">{{ emojis.links | safe }}</span>Links</a>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>