* {
    margin: 0;
}

.bluebacker {
    background-color: #1e2030;
}

@font-face {
    font-family: SS Rosehip;
    src: url(assets/SS\ Rosehip.otf);
}

body {
    background-color: #24273a;
    font-family: SS Rosehip;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    overflow-x: hidden;
}

.tableimg {
    width: 25vw;
}

.mainbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

a,
a:hover,
a:visited,
a:active {
    text-align: center;
    color: inherit;
    text-decoration: none;
}

footer {
    background-color: #1e2030;
    bottom: 0;  
}

table:not(.man),
th:not(.man),
td:not(.man) {
    background-color: #1e2030;
    color: #cad3f5;
    padding: 1em;
    border: 1px solid #1e2030;
    border-collapse: collapse;
    overflow-wrap: break-word;
    font-size: calc(0.7vw + 0.7vh)
}

ul:not(.man) {
    list-style: none;
    text-align: center;
    background-color: #1e2030;
    padding: 0;
}


li {
    margin: 35px;
}

.updog {
    text-align: center;
    border: 5px solid #1e2030;
    margin-top: 40px;
    background-color: #1e2030;
}

.updog img {
    margin: 0 auto;
}

.listsf {
    margin: auto;
    display: flex;
    background-color: #1e2030;
    width: 60%;
    color: #cad3f5;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #11111b ;
}


::-webkit-scrollbar-thumb {
    background: #363a4f;
    border-radius: 0px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.cell {
    margin-bottom: 5px;
    margin-left: 2.5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: normal;
    text-align: center;
    flex: 0 0 15%;
    background-color: #1e2030;
}

.tab button.active {
    background-color: #1e2030;
}

.tab {
    padding: 5px;
}

.tab button {
    background-color: inherit;
    border-style: solid;
    border-width: 1px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.album_animation_thingyF {
    width: 25vh;
    height: 25vh;
    animation: albumSpinF 4s linear infinite;
    transform-origin: center;
    position: absolute;
}

.album_animation_thingyB {
    width: 25vh;
    height: 25vh;
    animation: albumSpinB 4s linear infinite;
    transform-origin: center;
    position: relative;
}

@keyframes albumSpinF {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }

    24.99% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    74.99% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        transform: rotateY(360deg);
        opacity: 0;
    }
}

@keyframes albumSpinB {
    0% {
        transform: rotateY(0deg);
        opacity: 0;
    }

    24.99% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    74.99% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    99.99% {
        opacity: 0;
    }

    100% {
        transform: rotateY(360deg);
        opacity: 1;
    }
}

.wrapper>div {
    padding: 1em;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    background-color: #24273a;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: blue;
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
    font-size: calc(0.8vw + 0.8vh);;
    color: white;
}

.two {
    grid-column: 3 / 4;
    grid-row: 1;
    background-image: url("/assets/wall.jpg");
    border-radius: 4px;
    padding-top: 100%; 
    border: 2px dotted rgb(233, 171, 88);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maybetwelve {
    grid-column: 3;
    grid-row: 2;
    background-color: #f2e9e4;
    border: 1px solid #2f3136;
    background: #202225;
    color: white;
    font-family: sans-serif;
}

#play-pause {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.wavy-text {
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
    background-size: 200% auto;
    letter-spacing: -0.15em;
}

.wavy-text span {
    display: inline-block;
    animation: wave 2s infinite ease-in-out, rainbow 3s linear 9700ms infinite forwards running; 
}


@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px); /* Reduced movement for smoother effect */
    }
    50% {
        transform: translateY(5px); /* Adjusted for even smoother wave */
    }
    75% {
        transform: translateY(-5px); /* Same as 25% for smooth transition */
    }
}

@keyframes rainbow{
    0% {color: #6666ff;}
    25% {color: #0099ff;}
    50% {color: #00ff00;}
    75% {color: #ff3399;}
    100% {color: #6666ff;}
  }

.wavy-text span:nth-child(odd) {
    animation-delay: 0.1s;
}
.wavy-text span:nth-child(even) {
    animation-delay: 0.2s;
}

.cd-rotate{
    margin:auto;
    padding:5%;
    box-sizing: border-box;
    width:inherit;
    transition: transform .3s;
}

.spin-animation {
    animation: spin infinite 5s linear;
}

.reverse-spin-animation {
    animation: reverse-spin 0.2s linear forwards;
  }

.cd-rotate > img{
    display:block;
    margin:auto;
    border-radius: 50%;
    width:200px;
    height:200px;
    box-sizing: border-box;
    box-shadow: 0 0 0 8px #000001, 0 0 0 12px #1c1b21, 0 0 0 16px #000001;
    background: radial-gradient(circle, #000001 20%, #1c1b21 21%, #000001 22%, #1c1b21 23%, #000001 24%, transparent 25%),
    radial-gradient(circle, #1c1b21 30%, #000001 31%, #1c1b21 32%, #000001 33%, #1c1b21 34%, transparent 35%);
    transition:  box-shadow .3s;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes reverse-spin {
    0% {
      transform: rotate(var(--current-rotation, 0deg));
    }
    100% {
      transform: rotate(0deg);
    }
  }

#controls{
    display:flex;
    justify-content: space-around;
    padding:5px;
    box-sizing: border-box;
}

#controls > div{
    font-size:40px;
    transition:text-shadow .3s, transform .3s;
}

#controls > div:hover{
    transform:scale(1.2);
    text-shadow: 0 0 11px white, 0 0 11px white;
    cursor: pointer;
}

#controls > div:active{
    transform:scale(1.1);
    text-shadow: 0 0 11px blue, 0 0 11px blue;
}

input[type=range] {
    width: 120px;
    margin: 0;
    display: block;
    padding: 0px;
}


.three {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: 2px dotted rgb(233, 171, 88);
    background-color: #1e2030;
    border-radius: 5px;
}

.four {
    grid-column: 3;
    grid-row: 3;
    background-image: url("assets/201.jpg");
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
    color: #cad3f5;
}

.five {
    background-image: url("assets/201.jpg");
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
}

.six {
    grid-column: 1;
    grid-row: 4;
    background-color: #150320;
    border: 6px double #fc2b50;
}

.seven {
    grid-column: 3 / 4;
    grid-row: 3/ 5;
    background-image: url("/assets/smokeypurple.gif");
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
}

.eight {
    grid-column: 2;
    grid-row: 2 / 3;
    background-image: url("assets/201.jpg");
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
    color: white;
}

.nine {
    grid-column: 2;
    grid-row: 3;
    background-image: url("assets/purpskybg.jpg");
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
    color: #cad3f5;
}

.ten {
    grid-column: 2 / 3;
    grid-row: 4;
    background-color: #181926;
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: #cad3f5;
}

#listening {
    display: flex;
    align-items: center;
}

#listening img {
    width: 100px;
    height: auto;
    padding-right: 10px;
}

#listening div {
    display: flex;
    flex-direction: column;
}

#listening h3, #listening p {
    margin: 0;
    padding: 0;
}

.thesenumbersreallymeannothingbecauseivemovedthemaroundwaytoomuch {
    grid-column: 2;
    grid-row: 1;
    border: 2px dotted rgb(233, 171, 88);
    border-radius: 5px;
    background-image: url("assets/side_back.gif");
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    justify-content: space-around; 
    align-items: center; 
}

.topnav a {
    color: #cad3f5;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex: 1 1 auto;
    min-width: 50px; 
    font-size: calc(1vw + 1vh);
}
/* https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #cad3f5;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: calc(0.7vw + 0.7vh);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e3440;
    min-width: 160px;
    z-index: 1;
    border-radius: 7px;
    border: 2px solid #c6a0f6;
}

.dropdown-content a {
    color: #cad3f5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3b4252;
    border-radius: 7px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #88c0d0;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .thesenumbersreallymeannothingbecauseivemovedthemaroundwaytoomuch, .maybetwelve {
        grid-column: 1 / -1;
        grid-row: auto;
    }

    .topnav a {
        flex: 1 1 100%;
    }
}

.topnav a:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #82A0D8, 0 0 30px #40BCED, 0 0 40px #00D5E6, 0 0 50px #39E9C3, 0 0 60px #9EF694, 0 0 70px #bdb2ff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #EDB7ED, 0 0 40px #FFB4DA, 0 0 50px #FFB7BB, 0 0 60px #FFC696, 0 0 70px #FFDD78, 0 0 80px #F9F871;
    }
}

header {
    background-image: url(assets/checkerpattern.png);
    border: 2px solid #c6a0f6;
    border-radius: 7px;
    margin-bottom: 10px;
}

#statuscafe-username {
    margin-bottom: .5em;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.marquee {
    color: #cad3f5;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: table-cell; 
    vertical-align: middle; 
    background-color: #1e2131;
}

.marquee h1 {
    animation: marquee-stupidcssbullshit 60s linear infinite;
}

@keyframes marquee-stupidcssbullshit {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@keyframes marquee-image {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

iframe {
    border: 0px;
}

.hidden {
    display: none;
}

div#no-scrolling-iframe {
    overflow-x:hidden; 
    overflow-y:hidden; 
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    position: relative;
    animation: marquee-image 5s linear infinite;
}

.marquee-content img {
    width: 100vw;
}

.buttonload {
    border: none;
    color: #cad3f5;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
    background-color: darkblue;
    font-family: SS Rosehip;
    text-align: center;
}

.tabcontent {
    color: white; 
    padding: 5px; 
    font-size: 20px;
}

.guideslist {
    border: 2px solid #c6a0f6;
    border-radius: 7px;
    background-color: #1e2030;
}

.ramblingsmain {
    border: 2px dotted rgb(233, 171, 88); 
    border-radius: 7px;
    border: 2px solid #c6a0f6; 
    background-image: url('../assets/24817.png'); 
    border-radius: 7px;
}

.studyingmain {
    border: 2px dotted rgb(233, 171, 88); 
    border-radius: 7px; 
    border: 2px solid #c6a0f6;
}

.desctext {
    color: #cad3f5; 
    font-size: calc(0.8vw + 0.8vh);
}

.averagescore {
    color: #cad3f5; 
    font-size: calc(0.8vw + 0.8vh); 
    padding: 5px; 
    width: 280px; 
    background-color: #1e2030; 
    border-radius: 0 10px 0 0;
}


/* https://getcssscan.com/css-buttons-examples */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #1e2030;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#494d64 0 -3px 0 inset;
    box-sizing: border-box;
    color: #cad3f5;
    cursor: pointer;
    display: inline-flex;
    font-family: SS Rosehip;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: calc(0.8vw + 0.8vh);  
}
  
  .button-30:focus {
    box-shadow: #494d64 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #494d64 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #494d64 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #494d64 0 3px 7px inset;
    transform: translateY(2px);
  }
    
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropbtn {
      color: white;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
      font-size: calc(0.7vw + 0.7vh);
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #11111b;
      min-width: 160px;
      z-index: 1;
  }
  
  .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .dropdown-content a:hover {
      background-color: #11111b;
      border-radius: 7px;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .dropdown:hover .dropbtn {
      color: #88c0d0;
  }
  
  #c_widget {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 20px;
    background-attachment: fixed;
    font-family: 'Courier New';
    font-size: 16px;
    color: #cad3f5;
}

#c_widget button, #c_widget input[type=submit] {
    padding: 4px;
    font-family: 'Courier New';
    text-decoration: none;
	text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #cad3f5;
    border: 1px solid white;
}
#c_widget button:hover, #c_widget input[type=submit]:hover {
    color: #cad3f5;
    border: 1px solid #B766FF;
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    color: #cad3f5;
    border: 1px solid white;
}

/* Input section */
#c_inputDiv {
    margin-bottom: 15px;
    padding: 10px;
    background-color: black;
    border: 2px solid white;
}

#c_widgetTitle {
    margin: -10px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    background-color: #24273a;
}

.c-inputWrapper {
    display: block;
    text-align: right;
}
.c-input {
    padding: 4px;
    color: black;
    border: 1px solid #2D0B52;
	outline: none;
}
.c-input:focus {border: 1px solid #B766FF;}

.c-textInput {
    width: calc(100% - 10px);
    max-width: 900px;
    resize: none;
}
#c_submitButton {
    display: block; 
    margin-left: auto; 
    margin-right: 0;
    font-size: calc(0.6vw + 0.6vh);
}
#c_replyingText {
    color: #cad3f5;
    text-align: right;
}

/* Comment section */
.c-comment {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid white;
    background-color: #24273a; 
}
.c-reply {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    border: 2px solid white;
    background-color: #2D0B52; 
}
.c-reply:last-child {margin-bottom: 0;}
.c-replyContainer {
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
    background-color: black;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.c-site {
    text-transform: uppercase;
    text-decoration: none;
    color: #B766FF;
}
.c-site:hover {color: #cad3f5;}
.c-timestamp {
    float: right;
    opacity: 75%;
}
.c-text {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    font-family: Verdana;
    font-size: calc(0.6vw + 0.6vh);
    text-align: justify;
    color: #cad3f5;
    background-color: black;
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton {
    margin-top: 10px;
    margin-right: 4px;
    font-size: calc(0.6vw + 0.6vh);
}
.c-expandButton {
    margin-top: 10px;
    margin-left: 4px;
    font-size: calc(0.6vw + 0.6vh);
}
.c-paginationButton {
    margin-right: 4px;
    margin-left: 4px;
    font-size: calc(0.6vw + 0.6vh);
}

.splitter {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.small {
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
}

.smallpart2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusbox {
    flex: 0 0 70%;
    background-color: #f2e9e4;
    border: 3px solid #dcbcb4;
    padding: 20px;
    margin-bottom: 5px;
}

.adbox {
    flex: 0 0 20%;
    text-align: center;
    font-size: calc(1vw + 1vh);
    font-family: Tahoma;
    background-image: url("assets/dimdenbg.png");
    border: 3px solid #383838;
    border-radius: 5px;
    text-shadow: 0 0 20px #ffffff4a, 0 0 20px #00ffab45;
    color: white;
    margin-bottom: 5px;
}

.plus-symbol {
    margin: 0; 
    font-size: calc(1.5vw + 1.5vh);
}

.minus-symbol {
    margin: 0; 
    font-size: calc(2vw + 2vh); 
    position: relative; 
    top: -0.4vh;
}

.plus-symbol:hover, .minus-symbol:hover, .sillycat:hover, .sortScore:hover, .tableimg:hover {
    cursor: pointer;
}