marquee {
    background-color: blue;
}

body {
    background-image: url("assets/wall.jpg");
}

.tableimg {
    max-width: 1000px;
    min-width: 200px;
    width: 100%;
    height: auto;
}

.mainbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav {
    text-align: center;
    border-style: solid;
    border-color: darkblue;
    font-size: large;
}

footer {
    background-color: blue;
    text-align: center;
}

table,
th,
td {
    background-color: darkblue;
    color: white;
    padding: 1em;
    border: 1px solid blue;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    overflow-wrap: break-word;
    font-size: 4mm;

}

ul {
    list-style: none;
    text-align: center;
    background-color: blue;

}

li {
    margin: 35px;
}

.spin {
    transition: 1s;
}

.spin:hover {
    transform: rotate(360deg);
}

a:visited {
    color: darkblue;
}

a:link {
    color: darkblue;
}

.updog {
    text-align: center;
    border: 5px solid blue;
    margin-top: 40px;

}

/* whats updog */
.updog img {
    margin: 0 auto;
}

.softwarelist {
    list-style: none;
    text-align: center;
}

.listsf {
    margin: auto;
    display: flex;
    background-color: blue;
    width: 60%;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #d6ecf3;
}
    
::-webkit-scrollbar-track {
    background: -webkit-linear-gradient(top, #ffadad 12.5%,#ffd6a5 25%,#fdffb6 37.5%,#caffbf 50%,#9bf6ff 62.5%,#a0c4ff 75%,#bdb2ff 87.5%, #ffc6ff 95%);
    border: 1px ridge #8f38ff;
}
::-webkit-scrollbar-thumb {
    background: #ADD8E6;
    border: 1px ridge #8f38ff;
    border-radius: 0px;
}

.testss {
    opacity: 0;
}

.testss:hover {
    opacity: 1;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
  }

.cell {
    margin-bottom: 5px;
    margin-left: 2.5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items:normal;
    text-align: center;
    flex: 0 0 15%;
    background-color: blue;
}

.tab button.active {
    background-color: blue;
}

.tab {
    padding: 5px;
}

.tab button {
    background-color: inherit;
    border-style: solid;
    border-width: 1px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;    
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: blue;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-style: ridge;
    border-color: white;
    border-width: 5px
}

.topnav a:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #82A0D8, 0 0 30px #40BCED, 0 0 40px #00D5E6, 0 0 50px #39E9C3, 0 0 60px #9EF694, 0 0 70px #bdb2ff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #EDB7ED, 0 0 40px #FFB4DA, 0 0 50px #FFB7BB, 0 0 60px #FFC696, 0 0 70px #FFDD78, 0 0 80px #F9F871;
    }
  }
  