.bluebacker {
    background-color: blue;
}

body {
    background-image: url("assets/wall.jpg");
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.tableimg {
    max-width: 1000px;
    min-width: 200px;
    width: 100%;
    height: auto;
}

.mainbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

a,
a:hover,
a:visited,
a:active {
    text-align: center;
    color: inherit;
    text-decoration: none;
}

nav {
    font-size: xx-large;
    color: white;
}

footer {
    background-color: blue;
    text-align: center;
}

table,
th,
td {
    background-color: darkblue;
    color: white;
    padding: 1em;
    border: 1px solid blue;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    overflow-wrap: break-word;
    font-size: 4mm;
    font-size: 20px;
}

ul {
    list-style: none;
    text-align: center;
    background-color: blue;

}

li {
    margin: 35px;
}

.spin {
    transition: 1s;
}

.spin:hover {
    transform: rotate(360deg);
}

.updog {
    text-align: center;
    border: 5px solid blue;
    margin-top: 40px;
    background-color: blue;
}

/* whats updog */
.updog img {
    margin: 0 auto;
}

.listsf {
    margin: auto;
    display: flex;
    background-color: blue;
    width: 60%;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #d6ecf3;
}

::-webkit-scrollbar-track {
    background: -webkit-linear-gradient(top, #ffadad 12.5%, #ffd6a5 25%, #fdffb6 37.5%, #caffbf 50%, #9bf6ff 62.5%, #a0c4ff 75%, #bdb2ff 87.5%, #ffc6ff 95%);
    border: 1px ridge #8f38ff;
}

::-webkit-scrollbar-thumb {
    background: #ADD8E6;
    border: 1px ridge #8f38ff;
    border-radius: 0px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    margin-bottom: 5px;
    margin-left: 2.5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: normal;
    text-align: center;
    flex: 0 0 15%;
    background-color: blue;
}

.tab button.active {
    background-color: blue;
}

.tab {
    padding: 5px;
}

.tab button {
    background-color: inherit;
    border-style: solid;
    border-width: 1px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.album_animation_thingyF {
    width: 25vh;
    height: 25vh;
    animation: albumSpinF 4s linear infinite;
    transform-origin: center;
    position: absolute;
}

.album_animation_thingyB {
    width: 25vh;
    height: 25vh;
    animation: albumSpinB 4s linear infinite;
    transform-origin: center;
    position: relative;
}

@keyframes albumSpinF {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }

    24.99% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    74.99% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        transform: rotateY(360deg);
        opacity: 0;
    }
}

@keyframes albumSpinB {
    0% {
        transform: rotateY(0deg);
        opacity: 0;
    }

    24.99% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    74.99% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    99.99% {
        opacity: 0;
    }

    100% {
        transform: rotateY(360deg);
        opacity: 1;
    }
}

.wrapper>div {
    padding: 1em;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
    background-image: url("/assets/qq164.gif");
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.two {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.three {
    grid-column: 1/ 2;
    grid-row: 2 / 4;
    background-image: url("/assets/qq164.gif");
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.four {
    grid-column: 3;
    grid-row: 3;
    background-image: url("/assets/qq164.gif");
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.five {
    grid-column: 1/5;
    grid-row: 5;
    background-image: url("/assets/qq164.gif");
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.six {
    grid-column: 1;
    grid-row: 4;
    background-color: #150320;
    border: 6px double #fc2b50;
}

.seven {
    grid-column: 3/4;
    grid-row: 4;
    background-image: url(/assets/smokeypurple.gif);
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.eight {
    grid-column: 2;
    grid-row: 2 / 3;
    background-image: url("/assets/qq164.gif");
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.nine {
    grid-column: 2;
    grid-row: 3;
    background-image: url("/assets/qq164.gif");
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.ten {
    grid-column: 2/3;
    grid-row: 4;
    background-image: url("/assets/qq164.gif");
    border: 2px dotted rgb(233 171 88);
    border-radius: 5px;
}

.thesenumbersreallymeannothingbecauseivemovedthemaroundwaytoomuch {
    grid-column: 2;
    grid-row: 1;
    background-color: #f2e9e4;
    border: 3px solid #dcbcb4;
}

.sillycat:hover {
    cursor: pointer;
}

.topnav a:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #82A0D8, 0 0 30px #40BCED, 0 0 40px #00D5E6, 0 0 50px #39E9C3, 0 0 60px #9EF694, 0 0 70px #bdb2ff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #EDB7ED, 0 0 40px #FFB4DA, 0 0 50px #FFB7BB, 0 0 60px #FFC696, 0 0 70px #FFDD78, 0 0 80px #F9F871;
    }
}

header {
    background-color: blue;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
#statuscafe-username {
    margin-bottom: .5em;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.marquee {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee h1 {
    animation: marquee 60s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}