---
title: "epic comic reviews"
image_fullscreen: true
jsonLocation: "/_data/comics.json"
pagination:
    data: comics
    size: 100
    alias: items
    addAllPagesToCollections: true
---
{% set counter = 0 %}
{% set scoreTotal = 0 %}
{% for score in comics %}
    {% set counter = counter + 1 %}
    {% set scoreTotal = scoreTotal + score.score %}
{% endfor %}

<div class="background-div">
    <h2 style="text-align: center;">Favourites:</h2>
    <div class="favourites-container">
        <div class="favourites-item">
            <a target="_blank" href="https://myanimelist.net/manga/656/Vagabond">
                <img src="/assets/vagabond.webp">
            </a>
            <p>Vagabond</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://myanimelist.net/manga/1133/Dorohedoro">
                <img src="/assets/dorohedoro.jpg">
            </a>
            <p>Dorohedoro</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://myanimelist.net/manga/2/Berserk">
                <img src="/assets/berserk.webp">
            </a>
            <p>Berserk</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://myanimelist.net/manga/7375/Kokou_no_Hito">
                <img src="/assets/climber.webp">
            </a>
            <p>The Climber</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://myanimelist.net/manga/72467/Shoujo_Shuumatsu_Ryokou">
                <img src="/assets/tour.webp">
            </a>
            <p>Girls' Last Tour</p>
        </div>
    </div>
</div>

<table class="review_table">
    <colgroup>
        <col style="width: 25%;">
        <col style="width: 70%;">
    </colgroup>
    <thead>
        <tr>
            <th>
                <a href="/pages/graphs/comic_dist/">
                    Current average score: {{ (scoreTotal / counter).toFixed(2) }}/10
                </a>
            </th>
        </tr>
        <tr>
            <th>Type, Name, Score, Image</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="{{ loop.index0 }}">
            <td style="text-align: center;">
                [{{ item.type }}]
                <br>
                ({{ item.name }})
                <br>
                <span style="{% if item.score < 1 %} color: #5e5e5e;
                      {% elif item.score < 3 %} color: #ff4c4c;
                      {% elif item.score < 5 %} color: #ff8888;
                      {% elif item.score < 7 %} color: #f0e68c;
                      {% elif item.score < 8 %} color: #7bc96f;
                      {% elif item.score < 10 %} color: #00cc66;
                      {% else %} color: #9d63d0;
                      {% endif %}">
                {{ item.score }}/10
                <br>
                </span>

            {% if item.image %}
                {% if item.spoiler %}
                    <img class="spoiler" src="{{ item.image }}" alt="{{ item.name }}" onclick="toggleFullscreen(this)" loading="lazy">
                {% else %}
                    <img src="{{ item.image }}" alt="{{ item.name }}" onclick="toggleFullscreen(this)" loading="lazy">
                {% endif %}

            {% endif %}
            </td>
            <td>{{ item.description | replace('\n', '<br><br>') | safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>