---
title: "epic comic reviews"
side_nav_img: "/assets/single_lesson.jpg"
image_fullscreen: true
jsonLocation: "/_data/comics.json"
pagination:
    data: comics
    size: 100
    alias: items
    addAllPagesToCollections: true
---
{% set counter = 0 %}
{% set scoreTotal = 0 %}
{% for score in comics %}
    {% set counter = counter + 1 %}
    {% set scoreTotal = scoreTotal + score.score %}
{% endfor %}

<table class="review_table">
    <thead>
        <tr>
            <th>
                <a href="/pages/graphs/comic_dist/">
                    current average score: {{ (scoreTotal / counter).toFixed(2) }}/10
                </a>
            </th>
        </tr>
        <tr>
            <th>type, name, score, image</th>
            <th>description</th>
        </tr>
    </thead>
<tbody>
    {% for item in items %}
    <tr id="{{ loop.index0 }}">
        <td style="text-align: center;">
            [{{ item.type }}]
            <br>
            ({{ item.name }})
            <br>
            <span style="{% if item.score < 1 %} color: #5e5e5e;
                  {% elif item.score < 3 %} color: #ff4c4c;
                  {% elif item.score < 5 %} color: #ff8888;
                  {% elif item.score < 7 %} color: #f0e68c;
                  {% elif item.score < 8 %} color: #7bc96f;
                  {% elif item.score < 10 %} color: #00cc66;
                  {% else %} color: #9d63d0;
                  {% endif %}">
            {{ item.score }}/10
            </span>

        {% if item.image %}
            <img src="{{ item.image }}" alt="{{ item.name }}" onclick="toggleFullscreen(this)" loading="lazy">
        {% endif %}
        </td>
        <td>{{ item.description }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>