---
title: "my favourite things"
side_nav_img: "/assets/kevin.avif"
image_fullscreen: true
jsonLocation: "/_data/favourites.json"
hasContent2: true
pagination:
    data: favourites
    size: 100
    alias: items
    addAllPagesToCollections: true
---

<table class="review_table">
    <thead>
        <tr>
            <th>type, name</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="{{ loop.index0 }}">
            <td style="text-align: center;">
                [{{ item.type }}]
                <br>
                ({{ item.name }})
            {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.name }}" onclick="toggleFullscreen(this)" loading="lazy">
            {% endif %}
            </td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>