---
layout: "layout.njk"
title: "my favourite things"
header_img: "/public/assets/reviews.gif"
side_nav_img: "/public/assets/thirtyvirus-5.jpg"
pagination:
    data: favourites
    size: 30
    alias: items
    addAllPagesToCollections: true
---
<body>
<p style="text-align: center;">click the images to enlarge them</p>
<table class="review_table">
    <thead>
        <tr>
            <th>type, name</th>
            <th>description</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td style="text-align: center;">
                [{{ item.type }}]
                <br>
                ({{ item.name }})
            </td>
            <td>{{ item.description }}</td>
            <td class="image-td">
                {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                {% else %}
                no image
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination-container">
    <div class="pagination-buttons left">
        {% if page.url != pagination.href.first %}
        <a href="{{ pagination.href.first }}">First</a>
        {% else %}
        <span>First</span>
        {% endif %}
        
        {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" id="previous-link">Previous</a>
        {% else %}
        <span>Previous</span>
        {% endif %}
    </div>

    <select id="pageDropdown" onchange="window.location.href=this.value;">
        {%- for pageEntry in pagination.pages %}
        <option value="{{ pagination.hrefs[loop.index0] }}" {% if page.url == pagination.hrefs[loop.index0] %} selected {% endif %}>
            Page {{ loop.index }}
        </option>
        {%- endfor %}
    </select>

    <div class="pagination-buttons right">
        {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" id="next-link">Next</a>
        {% else %}
        <span>Next</span>
        {% endif %}
        
        {% if page.url != pagination.href.last %}
        <a href="{{ pagination.href.last }}">Last</a>
        {% else %}
        <span>Last</span>
        {% endif %}
    </div>
</div>
<script>
document.addEventListener('keydown', function (event) {
  if (event.key === 'ArrowRight') {
    const nextLink = document.getElementById('next-link');
    if (nextLink) {
      window.location.href = nextLink.href;
    }
  } else if (event.key === 'ArrowLeft') {
    const previousLink = document.getElementById('previous-link');
    if (previousLink) {
      window.location.href = previousLink.href;
    }
  }
});

  function toggleFullscreen(img) {
  if (!document.fullscreenElement) {
    img.requestFullscreen();
  } else {
    document.exitFullscreen();
  }
}
</script>
</body>
</html>
