---
layout: "_layouts/reviews-layout.njk"
title: "my favourite things"
header_img: "/assets/reviews.gif"
side_nav_img: "/assets/kevin.png"
image_fullscreen: true
jsonLocation: "/_data/favourites.json"
pagination:
    data: favourites
    size: 100
    alias: items
    addAllPagesToCollections: true
---

<p style="text-align: center;">click the images to enlarge them</p>
<table class="review_table">
    <thead>
        <tr>
            <th>type, name</th>
            <th>description</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="{{ loop.index0 }}">
            <td style="text-align: center;">
                [{{ item.type }}]
                <br>
                ({{ item.name }})
            </td>
            <td>{{ item.description }}</td>
            <td class="image-td">
                {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                {% else %}
                no image
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>