---
title: "and then i said terraria? i hardly know her!"
jsonLocation: "/_data/games.json"
pagination:
    data: games
    size: 100
    alias: items
    addAllPagesToCollections: true
---

{% set counter = 0 %}
{% set scoreTotal = 0 %}
{% for score in games %} {# dont make games into items !! only shows the average of currrent page youre on !! #}
    {% set counter = counter + 1 %}
    {% set scoreTotal = scoreTotal + score.score %}
{% endfor %}

<div class="background-div">
    <h2 style="text-align: center;">Favourites:</h2>
    <div class="favourites-container">
        <div class="favourites-item">
            <a target="_blank" href="https://store.steampowered.com/app/105600/Terraria/">
                <img src="/assets/terraria.jpg">
            </a>
            <p>Terraria</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://www.gog.com/en/game/hollow_knight">
                <img src="/assets/hollow.jpg">
            </a>
            <p>Hollow Knight</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://minecraft.net/">
                <img src="/assets/mc.jpg">
            </a>
            <p>Minecraft</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://www.gog.com/en/game/stardew_valley">
                <img src="/assets/stardew.png">
            </a>
            <p>Stardew Valley</p>
        </div>
        <div class="favourites-item">
            <a target="_blank" href="https://www.guildwars2.com/en/">
                <img src="/assets/gw2.jpg">
            </a>
            <p>Guild Wars 2</p>
        </div>
    </div>
</div>

<table class="review_table">
    <colgroup>
        <col style="width: 25%;">
        <col style="width: 70%;">
    </colgroup>
    <thead>
        <tr>
        <th>
            <a href="/pages/graphs/game_dist/" class="score-link">Current average score: {{ (scoreTotal / counter).toFixed(2) }}/10</a>
            <noscript>
                <span>Current average score: {{ (scoreTotal / counter).toFixed(2) }}/10</span>
            </noscript>
        </th>
        </tr>
            <th>Name, Score</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="{{ loop.index0 }}">
            <td style="text-align: center;">
                ({{ item.name }})
                <br>
                <span style="{% if item.score < 1 %} color: #5e5e5e;
                      {% elif item.score < 3 %} color: #ff4c4c;
                      {% elif item.score < 5 %} color: #ff8888;
                      {% elif item.score < 7 %} color: #f0e68c;
                      {% elif item.score < 8 %} color: #7bc96f;
                      {% elif item.score < 10 %} color: #00cc66;
                      {% else %} color: #9d63d0;
                      {% endif %}">
                {{ item.score }}/10
                </span>
            </td>
            <td>{{ item.description | replace('\n', '<br><br>') | safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>