---
title: "epic game reivews"
side_nav_img: "/assets/biggewtf.avif"
image_fullscreen: true
jsonLocation: "/_data/music.json"
pagination:
    data: music
    size: 100
    alias: items
    addAllPagesToCollections: true
---

{% set counter = 0 %}
{% set scoreTotal = 0 %}
{% for score in music %}
    {% set counter = counter + 1 %}
    {% set scoreTotal = scoreTotal + score.score %}
{% endfor %}

<table class="review_table">
    <thead>
        <tr>
        <th>
            <a href="/pages/graphs/game_dist/">
                current average score: {{ (scoreTotal / counter).toFixed(2) }}/10
            </a>
        </th>
        </tr>
            <th>artist, name, score, cover</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="{{ loop.index0 }}">
            <td style="text-align: center;">
                [{{ item.artist }}]
                <br>
                ({{ item.name }})
                <br>
                <span style="{% if item.score < 1 %} color: #5e5e5e;
                      {% elif item.score < 3 %} color: #ff4c4c;
                      {% elif item.score < 5 %} color: #ff8888;
                      {% elif item.score < 7 %} color: #f0e68c;
                      {% elif item.score < 8 %} color: #7bc96f;
                      {% elif item.score < 10 %} color: #00cc66;
                      {% else %} color: #9d63d0;
                      {% endif %}">
                {{ item.score }}/10
                </span>
                            {% if item.image %}
                <div class="image-container">
                    <img class="imageA" src="{{ item.image }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                    {% if item.imageB %}
                    <img class="imageB" src="{{ item.imageB }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                    {% endif %}
                </div>
                {% endif %}
            </td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
