---
layout: "_layouts/reviews-layout.njk"
title: "epic game reivews"
header_img: "/assets/reviews.gif"
side_nav_img: "/assets/biggewtf.png"
image_fullscreen: true
pagination:
    data: music
    size: 100
    alias: items
    addAllPagesToCollections: true
---

<table class="review_table">
    <thead>
        <tr>
            <th>artist, name, score</th>
            <th>description</th>
            <th>cover</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td style="text-align: center;">
                [{{ item.artist }}]
                <br>
                ({{ item.name }})
                <br>
                <span style="{% if item.score < 1 %} color: #5e5e5e;
                      {% elif item.score < 3 %} color: #ff4c4c;
                      {% elif item.score < 5 %} color: #ff8888;
                      {% elif item.score < 7 %} color: #f0e68c;
                      {% elif item.score < 8 %} color: #7bc96f;
                      {% elif item.score < 10 %} color: #00cc66;
                      {% else %} color: #9d63d0;
                      {% endif %}">
                {{ item.score }}/10
                </span>
            </td>
            <td>{{ item.description }}</td>
            <td class="image-td">
                {% if item.image %}
                <div class="image-container">
                    <img class="imageA" src="{{ item.image }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                    {% if item.imageB %}
                    <img class="imageB" src="{{ item.imageB }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                    {% endif %}
                </div>
                {% else %}
                no image
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
