---
title: "epic music reivews"
image_fullscreen: true
jsonLocation: "/_data/music.json"
pagination:
    data: music
    size: 100
    alias: items
    addAllPagesToCollections: true
---

{% set counter = 0 %}
{% set scoreTotal = 0 %}
{% for score in music %}
    {% set counter = counter + 1 %}
    {% set scoreTotal = scoreTotal + score.score %}
{% endfor %}

<div class="background-div">
    <p style="text-align: center;">Favourites:</p>
    <div class="favourites-container">
        <div class="favourites-item">
            <img src="/assets/thens.jpg">
            <p>The New Sound</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/cmiygltes.jpg">
            <p>Call Me If You Get Lost: The Estate Sale</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/igor.jpg">
            <p>Igor</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/antsfut.jpg">
            <p>Ants From Up There</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/hunkyd.jpg">
            <p>Hunky Dory</p>
        </div>
    </div>
</div>

<table class="review_table">
    <colgroup>
        <col style="width: 25%;">
        <col style="width: 70%;">
    </colgroup>
    <thead>
        <tr>
        <th>
            <a href="/pages/graphs/music_dist/">
                Current average score: {{ (scoreTotal / counter).toFixed(2) }}/10
            </a>
        </th>
        </tr>
            <th>Artist, Name, Score, Cover</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="{{ loop.index0 }}">
            <td style="text-align: center;">
                [{{ item.artist }}]
                <br>
                ({{ item.name }})
                <br>
                <span style="{% if item.score < 1 %} color: #5e5e5e;
                      {% elif item.score < 3 %} color: #ff4c4c;
                      {% elif item.score < 5 %} color: #ff8888;
                      {% elif item.score < 7 %} color: #f0e68c;
                      {% elif item.score < 8 %} color: #7bc96f;
                      {% elif item.score < 10 %} color: #00cc66;
                      {% else %} color: #9d63d0;
                      {% endif %}">
                {{ item.score }}/10
                </span>
                            {% if item.image %}
                <div class="image-container">
                    <img class="imageA" src="{{ item.image }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                    {% if item.imageB %}
                    <img class="imageB" src="{{ item.imageB }}" alt="{{ item.name }}" onclick=toggleFullscreen(this)>
                    {% endif %}
                </div>
                {% endif %}
            </td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
