---
pagination:
    data: tv
    size: 100
    alias: items
    addAllPagesToCollections: true
---

{% extends "base.njk" %}

{% block head %}
    {% if pagination.pageNumber > 0 %}
        <meta http-equiv="refresh" content="0; url=/pages/media/tv/{{ pagination.pageNumber }}/"/>
    {% else %}
        <meta http-equiv="refresh" content="0; url=/pages/media/tv/"/>
    {% endif %}
{% endblock %}

{% block content %}
<div class="background-div">
    <div style="display:flex; justify-content:center; gap:8px; margin-bottom: 10px;">
        {{ emojis.cone | safe }} <span style="font-size:large;">Uh oh! This is an old page! If you aren't being redirected right now click here: <a href="{% if pagination.pageNumber > 0 %}/pages/media/tv/{{ pagination.pageNumber }}{% else %}/pages/media/tv/{% endif %}">Click here</a></span>
    </div>
</div>
<script>
    const currentPage = {{ pagination.pageNumber }};
    if (currentPage > 0) {
        window.location.href = "/pages/media/tv/" + (currentPage);
    } else {
        window.location.href = "/pages/media/tv/";
    }
</script>
{% endblock %}