---
title: "epic tv reivews"
jsonLocation: "/_data/tv.json"
pagination:
    data: tv
    size: 100
    alias: items
    addAllPagesToCollections: true
---

{% set counter = 0 %}
{% set scoreTotal = 0 %}
{% for score in tv %}
    {% set counter = counter + 1 %}
    {% set scoreTotal = scoreTotal + score.score %}
{% endfor %}

<div class="background-div">
    <p style="text-align: center;">Favourites:</p>
    <div class="favourites-container">
        <div class="favourites-item">
            <img src="/assets/pulpf.jpg">
            <p>Pulp Fiction</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/interstellar.jpg">
            <p>Interstellar</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/adventuret.jpg">
            <p>Adventure Time</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/cyberpunk.jpg">
            <p>Cyberpunk Edgerunner</p>
        </div>
        <div class="favourites-item">
            <img src="/assets/from.jpg">
            <p>From</p>
        </div>
    </div>
</div>

<table class="review_table">
    <colgroup>
        <col style="width: 25%;">
        <col style="width: 70%;">
    </colgroup>
    <thead>
        <tr>
        <th>
        <a href="/pages/graphs/tv_dist/">
            Current average score: {{ (scoreTotal / counter).toFixed(2) }}/10
        </th>
        </tr>
        <tr>
            <th>Type, Name, score</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr id="{{ loop.index0 }}">
            <td style="text-align: center;">
                [{{ item.type }}]
                <br>
                ({{ item.name }})
                <br>
                <span style="{% if item.score < 1 %} color: #5e5e5e;
                      {% elif item.score < 3 %} color: #ff4c4c;
                      {% elif item.score < 5 %} color: #ff8888;
                      {% elif item.score < 7 %} color: #f0e68c;
                      {% elif item.score < 8 %} color: #7bc96f;
                      {% elif item.score < 10 %} color: #00cc66;
                      {% else %} color: #9d63d0;
                      {% endif %}">
                {{ item.score }}/10
                </span>
            </td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>