---
import DialogLayout from "../../layouts/DialogLayout.astro";
---
<DialogLayout title="example">
<div id="dialogContainer"></div>
</DialogLayout>
<script>
    import "../../scripts/dialog"
</script>