---
import AchievementLayout from "../../layouts/AchievementLayout.astro";
---
<style>
    div {
        display: flex;
        gap: 20px;
        margin: 20px;
    }
</style>
<AchievementLayout title="Example achievement">
    <div>
        <a href="/achievement_manager/achievement_list">Go to achievements list</a>
        <button onclick="localStorage.removeItem('achievements')">Clear achievements!</button>
    </div>
</AchievementLayout>