---
import AchievementLayout from "../../layouts/AchievementLayout.astro";
---
<AchievementLayout title="Achievements list">
    <div id="achievements-container"></div>
</AchievementLayout>
<script>
    import "../../scripts/achievements/exampleAchievement.js"
    import "../../scripts/achievementDisplay.js"
</script>