---
import AchievementLayout from "../../layouts/AchievementLayout.astro";
---
<AchievementLayout title="Example achievement">
    <a href="./achievement_list">Go to achievements list</a>
    <button onclick="localStorage.removeItem('achievements')">Clear achievements!</button>
</AchievementLayout>