---
import { getCollection, render } from "astro:content";
import MarkdownLayout from "../../../../layouts/MarkdownLayout.astro";
import RamblingDate from "../../../../components/RamblingDate.astro";

export async function getStaticPaths() {
    const ramblings = await getCollection("ramblings");
    return ramblings.map((rambling) => {
        // yeah, im like that
        const [year, month, day] = rambling.id.split('-');

        return {
            params: { year, month, day },
            props: { rambling }
        };
    });
}

const { rambling } = Astro.props;
const { Content } = await render(rambling);
---
<MarkdownLayout title={rambling.data.title || "Untitled entry"}>
    <a href={Astro.url.pathname.slice(0,18)}>Back</a>
    <RamblingDate ramblingEntry={rambling} />
    <Content />
</MarkdownLayout>