---
title: blog posts
layout: base.njk
---

<ul>
{% for post in collections["posts"] | reverse %}
    <a href="{{ post.url }}"><li>{{ post.data.title }} - {{ post.date.toLocaleDateString('en-US', { dateStyle: 'medium' }) }}</li></a>
{% endfor %}
</ul>

<ul>
{% for tag, posts in collections %}
  {% if tag != "all" and tag != "posts" %}
    <li>
      <a href="/tags/{{ tag }}/">{{ tag }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>