<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {% include "partials/nav.njk" %}

    {% for tag in tags %}
        {% if tag != "posts" %}
            <a href="/tags/{{ tag }}">#{{ tag }}</a>
        {% endif %}
    {% endfor %}

    {{ content | safe }}
</body>
</html>