---
layout: "layout.njk"
title: "i invented swag"
---

<div class="background-div">

    <p>Big unorganised collection of software, mods, websites and anything else that I'd have saved in my bookmarks bar.</p>

    <div class="bookmarks-container">
        <a href="https://www.svgrepo.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    SVG Repo
                    {{ emojis.image | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Another big icon library. Very clean website, used it to grab the icons from the Noto Emojis set because it's just a lot faster this way. Also lets your edit the SVGs which is pretty cool when you just need to do simple things like rotate or flip.</span>
            </div>
        </a>
        <a href="https://ditherit.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Dither it!
                    {{ emojis.image | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Site that lets you easily upload images and dither them with lots of customization possible, no ads, no annoying requests to sign up. I've used it for the background of my site personally.</span>
            </div>
        </a>
        <a href="https://archive.org/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Internet Archive
                    {{ emojis.web | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Slow but a genuinely brilliant site saving decades of internet history. Pretty helpful to go back to old versions of sites I like to get some inspiration or to read old posts from sites that no longer exist. Shocking that a service like this is free.</span>
            </div>
        </a>
        <a href="https://gifcities.org/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    GifCities
                    {{ emojis.image | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Don't really use this much anymore but when I was really going for that old Geocities vibe I was grabbing gifs from this pretty often. A bit slow (as all things relate to IA are) but very charming and a cool way to get a 90s aesthetic for your webpage.</span>
            </div>
        </a>
        <a href="https://owumaro.github.io/text-stroke-generator/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    text-stroke generator
                    {{ emojis.code | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Pretty simple site to generate text strokes for CSS because it's a real pain to do manually.</span>
            </div>
        </a>
        <a href="https://jsfiddle.net/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    JSFiddle
                    {{ emojis.code | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Codepen but instead of yelling at you to sign in it just lets you do your thing. Collapsing sidebar requiring pro is the dumbest shit I ever heard though 😭.</span>
            </div>
        </a>
        <a href="https://github.com/dessant/search-by-image/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Search By Image
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Being able to reverse image search in all the reverse image search sites at once in a couple clicks is great but honestly these days I use this tool more for just grabbing images when for whatever reason the site blocks you from grabbing it. Feels wrong to not have it installed.</span>
            </div>
        </a>
        <a href="https://returnyoutubedislike.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Return YouTube Dislike
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Saving Youtube from itself. A feature I'd grown to rely on more than I thought and I don't want to let it be taken away from me so easily. I know it's sometimes inaccurate because it's an estimate based on how much users of the extension dislike but it's accurate enough for me.</span>
            </div>
        </a>
        <a href="https://github.com/openstyles/stylus" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Stylus
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>The extension not the pen, terrible name I know. Just a really simple way to edit the CSS of sites without any extra bloat I don't need. I finally can free myself from seeing comments on ComicK and it's wonderful.</span>
            </div>
        </a>
        <a href="https://bitwarden.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Bitwarden
                    {{ emojis.extension | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>All I need in a password manager, sync with my other devices, password generator and it just makes me feel more secure than using a browser's built in password manager though I'm not sure if that unfounded.</span>
            </div>
        </a>
        <a href="https://brave.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Brave Browser
                    {{ emojis.web | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>My favourite browser right now, everything I like about Chromium without everything I hate about it. Has a built in adblocker that works just as well as uBlock in my experience and even if it didn't Brave still supports manifest v2 so I could just use uBlock if I wanted. Only thing I don't like is the weird crypto integration but you can disable that in a minute so it's not a huge issue imo.</span>
            </div>
        </a>
        <a href="https://github.com/PrismLauncher/PrismLauncher" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Prism Launcher
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>MultiMC but better (from what I've heard, I've never actually used MultiMC). Probably my favourite alternative launcher, very easy to add accounts, create new instances of Minecraft and add mods to your game. Feels a lot more snappy than the official launcher too.</span>
            </div>
        </a>
        <a href="https://caniuse.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Can I Use...
                    {{ emojis.code | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>MDN docs display a similar list of compatible browsers with a feature but Can I Use goes into more detail and has a wider range of data. Very helpful to quickly check if using something would be viable to do without breaking my site for too many people.</span>
            </div>
        </a>
        <a href="https://developer.mozilla.org/en-US/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    MDN Web Docs
                    {{ emojis.code | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Really the only thing keeping this site running. Lots of info about every aspect of web development with good descriptions, examples and everything you need to understand exactly how to do anything.</span>
            </div>
        </a>
        <a href="https://www.qbittorrent.org/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    qBittorrent
                    {{ emojis.download | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Best torrenting software out because it manages the impossible task of not installing a bitcoin miner on your PC. The UI is nice and easy to comprehend even if you know very little about torrenting as well so that helps.</span>
            </div>
        </a>
        <a href="https://www.iconarchive.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Icon Archive
                    {{ emojis.image | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Huge library of SVGs of... varying quality. If you don't mind digging through piles of trash to find what you want this might be helpful especially for things most people in their right minds wouldn't create for normal icon packs.</span>
            </div>
        </a>
        <a href="https://pinetools.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    PineTools
                    {{ emojis.image | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Lots of helpful tools though I only really use the image tools. The image merger is great for putting things like long manhwa panels together and aside from that there's something for every need here.</span>
            </div>
        </a>
        <a href="https://www.svgviewer.dev/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    SVGViewer
                    {{ emojis.image | safe }}
                </h2>
                    <span class="version-subtitle"></span>
                <span>Great site for finding, editing and optimising SVGs. I've used it a fair bit when working on this page and it's great.</span>
            </div>
        </a>
        <a href="https://imagecolorpicker.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Image Color Picker
                    {{ emojis.colour | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Name speaks for itself, lets you grab colour's from images. It has various methods of doing so and lets you paste into the site itself without downloading the image. Only problem I've had with this site is it asking me to download some random ass app a little while ago but it seems to have stopped doing that now.</span>
            </div>
        </a>
        <a href="https://onpaste.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    OnPaste
                    {{ emojis.image | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Site I use for making quick edits to images, usually cropping for the comic reviews page. Being able to just copy and paste in is more nice than you'd expect especially when you're doing it often. Only issue I've had with this site is it breaking on giant images like those you'd find in manhwa but for most normal use it's just fine.</span>
            </div>
        </a>
        <a href="https://www.11ty.dev/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Eleventy
                    {{ emojis.code | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>My favourite SSG (Astro can have second place). Really takes tedium out of working on a site and make automation of many things shockingly easy. Even just having templates so I don't have to update every page or do some weird embed shit when I change the navbar is a huge timesave. It's also a lot less heavy than many of its competitors and I quite like my 2 second build time though it does seem to be less polished than bigger operations like Astro.</span>
            </div>
        </a>
        <a href="http://github.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Github
                    {{ emojis.code | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Too good to be true honestly. A super easy way to backup your code, view the code of other open source projects, view statistics and even host static webpages like this one (unless you're viewing it on Nekoweb). If you aren't using it you really should be (or at least use a decent alternative like Codeberg though it doesn't have a search function to my knowledge).</span>
            </div>
        </a>
        <a href="https://www.last.fm/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    LastFM
                    {{ emojis.musicWhite | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Super useful site for tracking music you're listening to whether you're using Youtube Music, Spotify, Soundcloud or any number of other sites. It also has a nice API which is what I use to display my last played song on the front page.</span>
            </div>
        </a>
        <a href="https://virtualobserver.moe/ayano/comment-widget/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Ayano's Comment Widget
                    {{ emojis.js | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Easy to use and modify comment widget but not exactly a good one. I'm currently using it but it's dead easy to spam and due to how it's set up, running through Google Forms is convenient if you don't want to deal with annoying backend but it's also impossible to prevent spam no matter what you do. If you aren't in my position with a hungry mob of 7 year olds hoping to piss you off it'll work just fine though.</span>
            </div>
        </a>
        <a href="https://www.fusejs.io/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Fuse.js
                    {{ emojis.js | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Super easy to use search script that I have all over my site. Pretty lightweight for how much it has going for it too and fuzzy search is something you can't go back from. Sure, you can get make your own little JS search script with probably less than 100 lines of code but when you want to get stuff done around here you'll be using Fuse.js.</span>
            </div>
        </a>
        <a href="https://grid.layoutit.com/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Layoutit!
                    {{ emojis.html | safe }}
                </h2>
                <span class="version-subtitle"></span>
                <span>Really easy to use CSS grid generator. I'm told its inefficient but so is not writing programs in straight binary and people still use programming languages.</span>
            </div>
        </a>
        <a href="https://github.com/Skytils/SkytilsMod/releases/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Skytils
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9</span>
                <span>Best Skyblock mod at the moment, clean GUI, lots of good features and my favourite solvers, easy to use waypoint system for mining.</span>
            </div>
        </a>
        <a href="https://sk1er.club/mods/patcher" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Patcher
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9 & 1.12.2</span>
                <span>Fixes some issues with farming (something to do with wheat height I dunno) in 1.8.9 and (allegedly) increases performance according to some guy who told me like three years ago. Really no reason not to have.</span>
            </div>
        </a>
        <a href="https://www.mediafire.com/file/gkzsovw2gjjuw3d/%5B1.8.9%5D_Sidebar_Mod_Revamp.jar/file" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Sidebar Mod
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9</span>
                <span>Quite unsure as to what this mod actually does. I picked it up in some BEST SKYBLOCK MODS video a few years ago and I just keep it on in case its secretly keeping everything together somehow.</span>
            </div>
        </a>
        <a href="https://sk1er.club/mods/text_overflow_scroll" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Scrollable Tooltips
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9 - 1.12.2</span>
                <span>Very simple but helpful mod, just lets you scroll tooltips to be able to read long ass item names.</span>
            </div>
        </a>
        <a href="https://autotip.pro/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Autotip
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9 - 1.19.1</span>
                <span>Basically just gives you free Hypixel exp. I've left this mod on for a few years and I'm level 100 and something without actually grinding for anything or using boosters.</span>
            </div>
        </a>
        <a href="https://github.com/bowser0000/SkyblockMod/releases" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Danker's Skyblock Mod
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9</span>
                <span>Another great multipurpose Skyblock mod like Skytils. The UI is awful, I don't know why he had to change it from the nice one DSM had a year or two back but apart from that it's got lots of cool features though the only ones I actually use are the trackers, drop alerts, different enchant colours and some of the features taken from SBA.</span>
            </div>
        </a>
        <a href="https://github.com/Quantizr/DungeonRoomsMod/releases/" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Dungeon Rooms Mod
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9</span>
                <span>Nice to have when you're trying to memorise secret locations or even if you have memorised them and just have a mind blank and forget.</span>
            </div>
        </a>
        <a href="https://modrinth.com/mod/notenoughupdates" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Not Enough Updates
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9</span>
                <span>Up there with Skytils in just quantity of stuff. From slot locking to /pv to fairysoul waypoints to treecap cooldowns to a way better storage gui overhaul, NEU is pretty essential for me.</span>
            </div>
        </a>
        <a href="https://modrinth.com/mod/notenoughupdates" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    SkyHanni
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.8.9</span>
                <span>New(ish) addition to my mod loadout. I mainly use SkyHanni for farming but I keep finding awesome features like that Diana spot finder, actual game changer.</span>
            </div>
        </a>
        <a href="https://modrinth.com/mod/notenoughupdates" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Optifine
                    {{ emojis.minecraft | safe }}
                </h2>
                <span class="version-subtitle">1.7.2 - 1.21.4</span>
                <span>The OG performance mod. I luckily don't have a PC so shit I actually need it but zooming is nice and I bought a cape for some reason so I need to get my moneys worth. I hear later versions of the mod aren't so great but for 1.8.9 it's just fine.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2619954303" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Recipe Browser
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Super helpful when you don't want to open the wiki to find out what mod something is from or how to get it.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2669644269" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Boss Checklist
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Feels like it should just be a feature in the base game? Super helpful for figuring out which boss is next, what you can expect from it and how to craft it again without needing to minimise the game and go to the wiki.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2816694149" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Boss Cursor
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Pretty simple UI mod that points to where the boss you're fighting is so it's less easy to get jumped out of nowhere if you don't want to be scanning your map.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2570931073" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Fargo's Mutant Mod
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Takes a lot of the tedium out of repeat playthroughs with a few extra NPC's who sell spawn items to rare enemies, boss summons and items to instantly craft structures like hellbridges and NPC homes.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2565639705" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Ore Excavator
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Speaks for itself, it lets you mine ores faster. You can actually set it to mine anything which is a bit cheaty but the tradeoff is that when you mine 10000 sand at once your pc blows up.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2563309347" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Magic Storage
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Takes out the tedium of hunting through dozens of chests with a simple chest system along with a way easier way to craft with materials you have.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2599842771" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Alchemist NPC Lite
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>NPC that sells potions. Saves you from the most pointless tedious part of the game.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2562997415" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Shorter Respawn Time
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>A big cheaty in multiplayer but in singleplayer it just feels right.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2835407664" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    No More Tombs
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>No more grave clean up for me!!</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2669670918" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Begone, Evil!
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>For some reason the evil biomes spreading is really stressful for me and since I don't like being wracked with stress while playing video games this one is pretty necessary.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2597324266" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Wing Slot Extra
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Probably the most cheaty mod on this list because it's in effect just giving you an extra accessory slot but it feels so right.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2815540735" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Fargo's Souls Mod
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Unique and fun content mod, not the most over the top bosses or anything (except for a few pretty standout exceptions) but certainly over the top in the insane ass accessories that set my PC alight. There's also a DLC for this that adds Calamity support which is awesome.</span>
            </div>
        </a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2824688072" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Calamity
                    {{ emojis.terraria | safe }}
                </h2>
                <span class="version-subtitle">1.4.3 - 1.4.4</span>
                <span>Most replayable content mod I've ever used. So much extra content that I find myself coming back over and over despite having so many content mods I've never played.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/8897" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Visible Fish
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Not super important but it makes the water feel less dead and it's sometimes nice to not need to pull up the wiki to figure out if a fish spawns somewhere.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/509" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Experience Bars
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Really should just be a base game feature? Aside from a pretty bad default toggle keybind this mod does everything it needs to do, it even seems to have support with custom skills mod though I've only tested with that cooking mod.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/239" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    NPC Map Locations
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Another simple mod that should probably be a base game feature. Makes gifting and checking if Marnie is doing her job a lot easier.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/1691" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Data Layers
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>I only really use the mods to check if something is watered, check if something is planted and check a scarecrows range but this mod has got a whole lot more helpful little overlays.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/3109" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Automatic Gates
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Speaks for itself really.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/1063" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Automate
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Takes away a lot of the tedium of smelting and collecting things that generate once every few days. Only problem I have with this one is accidentally smelting things I don't want but that's just me being dumb.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/1738" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Friends Forever
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Kind of a cheat mod but also maintaining friendships is a terrible waste of my time so I don't mind it.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/1738" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Friends Forever
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Kind of a cheat mod but also maintaining friendships is a terrible waste of my time and kind of incentivises only befriending everyone right at the end when you have enough materials to do it so I don't mind it.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/2697" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Skip Fishing Minigame
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>100% a cheat mod but I'm a fishing pro anyways so surely I'd always do the perfect cast...</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/20802" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    No Fence Decay Redux
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Speaks for itself and this mod is the only reason I actually build shit because it's demoralising to watch my hard work get turned into dust by decay. Redux version because the original has broken.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/533" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Skip Intro
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Saves you like 20 seconds every time the game runs with 0 cost. Why wouldn't you want this one even if you're playing with no other mods.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/3753" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Stardew Valley Expanded
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Feels like the Calamity of Stardew Valley. Huge sprawling expansion with loads of new people to meet and places to go.</span>
            </div>
        </a>
        <a href="https://www.nexusmods.com/stardewvalley/mods/7286" target="_blank" class="bookmark-item-link">
            <div class="bookmark-item">
                <h2>
                    Ridgeside Village
                    {{ emojis.stardew | safe }}
                </h2>
                <span class="version-subtitle">1.6</span>
                <span>Feels a little like SVE's worse younger brother but I'm sure anything would compared with SVE. Lots of new stuff but definitely feels more like a mod and is more contained to a few areas. Still worth a playthrough of.</span>
            </div>
        </a>
    </div>
</div>