---
title: "mo guests mo books"
---

{% extends "base.njk" %}

{% set guestbook_css %} {% include "../css/jb-comments.css" %} {% endset %}

{% block headStyle %}
    {{ guestbook_css | cssmin | safe }}
{% endblock %}

{% block content %}
<main class="bottom-div">
    <p>Sorry Nekomment is down so you'll have to do without the guestbook for the time being...</p>
    <noscript>Enable JS to use the guestbook!</noscript>
    <div id="comment-entry-form"></div>
    <div id="comment-section">
        <span class="comment-loading"></span>
    </div>
</main>
{% endblock %}