---
title: "mo guests mo books"
---

{% extends "base.njk" %}

{% set guestbook_css %} {% include "../css/jb-comments.css" %} {% endset %}

{% block headStyle %}
    {{ guestbook_css | cssmin | safe }}
{% endblock %}

{% block content %}
<div class="background-div">
    <noscript>Enable JS to use the guestbook!</noscript>
    <div id="comment-entry-form"></div>
    <div id="comment-section">
        <span class="comment-loading">Comments loading...</span>
    </div>
</div>
<script src="/js/jb-comments.js"></script>
{% endblock %}