---
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = Object.values(import.meta.glob("./guides/*.md", { eager: true }));
const sortedPosts = allPosts.sort((a: any, b: any) => {return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()});
---
<BaseLayout pageTitle="blind leading the blind">
    <div class="background-div bottom-div">
        <p>Collection of guides. Most coding related, mostly written in ways those with no knowledge of JS should hopefully be able to understand. Older posts might be a little iffy.</p>
        <ul style="margin: 0; padding: 0; list-style-type: none;">
            {sortedPosts.map((post: any) => {
                const date = new Date(post.frontmatter.pubDate);
                return (
                <li class="blog-post-item">
                    <a href={post.url} class="blog-post-link">
                        <h1 style="margin: 0" class="blog-title">{post.frontmatter.title}</h1>
                        <span style="color: #c6a0f6">
                            {date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}
                        </span>
                    </a>
                </li>
            )})}
        </ul>
    </div>
</BaseLayout>