---
layout: "layout.njk"
title: "blind leading the blind"
---

<div class="background-div">
  <p>
      I don't really make new guides but yk if I have any annoying things.
      I can't find an answer to online then I find the answer I'll put it down.
  </p>
  <ul style="margin: 0; padding: 0; list-style-type: none;">
    {% for guide in collections.guides | reverse %}
      <li class="blog-post-item">
        <a href="{{ guide.url }}" class="blog-post-link">
          <h1 style="margin: 0;" class="blog-title">{{ guide.data.title }}</h1>
          <span style="color: #c6a0f6;">
            {{ guide.date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }).replace('.', '') }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>