---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<style>
	.tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .tooltip .tooltip-text {
        visibility: hidden;
        width: 140px;
        background-color:rgb(35, 40, 46);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgb(35, 40, 46) transparent transparent transparent;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

    #tooltip-btn {
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 1));
        image-rendering: pixelated;
    }

    .wave-text span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    }

    .wave-text span:nth-child(1) {
        animation-delay: 0s;
    }

    .wave-text span:nth-child(2) {
		animation-delay: 0.2s;
    }

    .wave-text span:nth-child(3) {
        animation-delay: 0.4s;
    }

    .wave-text span:nth-child(4) {
        animation-delay: 0.6s;
    }

    #commitsContainer p, #lastHeardContainer p {
        margin: 0;
    }

    .daniel-link {
        font-family: "Times New Roman";
        font-weight: bold;
        /*
        background: linear-gradient(90deg, #6c9e64, #9ed6d4, #a5348d, #932326, #e5c980, #6c9e64);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        */
    }

    @keyframes wave {
        0%, 100% {
            transform: translateY(0);
            color: #5585fb;
        }
        25% {
            color: #da410c;
        }
        50% {
            transform: translateY(-5px);
            color: #e1a114;
        }
        75% {
            color: #8bfdc0;
        }
    }
</style>
<BaseLayout>
	<div class="updates-container">
		<div id="commitsContainer">
            <p>Loading...</p>
        </div>
		<div id="lastHeardContainer">
            <p>Loading...</p>
        </div>
	</div>
	<main class="bottom-div">
		<p><span style="font-size: 24px;">Hello!</span> Welcome to my <span class="wave-text"><span>s</span><span>i</span><span>c</span><span>k</span></span> website. This is the terminally online equivalent to a diary so if you enjoy reading about strangers on the internet you'll love it here. If you got here trying to play Friday Night Funkin mods, I'll kill you. If you'd like to get in contact with me feel free to email me at moosyu@tuta.io but do bear in mind I don't check my emails super often (or at all).</p>
		<p>I've worked on and off on this for three years (since 01/12/22), originally it was me trying to copy <a class="daniel-link" href="https://displayman.neocities.org/" target="_blank">Daniel's Virtual Place</a> but now it's more like an inbred distant relative. At this point its more like an amalgam of sites I like, but aren't we all? Hopefully the longer it lasts the more distinct the style will become. All the code is <a href="https://github.com/Moosyu/moosyu.github.io" target="_blank">public</a> and you're free to use it though it probably wasn't even mine in the first place. If for some reason you'd like to download an offline version of this site, there's a prebuilt zip at <a href="https://moosyu.github.io/site.zip">moosyu.github.io/site.zip</a> (do bear in mind many images are hosted on ze.wtf and Imgur so this will be missing a lot, all the images would make the site like half a gig as opposed to the current slim 10mb archive).</p>
		<p>To travel around my webpage use the navigation bar on the right or click <a href="/links/">links</a> to view every page!!</p>
		<p>Add my button to your site<noscript>:</noscript>&nbsp;<span class="copy-instructions">(click it to copy to clipboard).</span></p>
		<div class="tooltip">
			<img id="tooltip-btn" src="/assets/buttons/moosyu.png" alt="moosyu button">
			<span class="tooltip-text">Copy to clipboard</span>
		</div>
		<noscript>
			<p>
				<span style="color: #83a598;">&lt;a</span> <span style="color: #d3869b;">href</span>=<span style="color: #b8bb26;">"https://moosyu.github.io/"</span><span style="color: #83a598;">&gt;</span><span style="color: #83a598;">&lt;img</span> <span style="color: #d3869b;">src</span>=<span style="color: #b8bb26;">"https://moosyu.github.io/assets/buttons/moosyu.png"</span> <span style="color: #d3869b;">alt</span>=<span style="color: #b8bb26;">"moosyus awesome button"</span><span style="color: #83a598;">&gt;&lt;/a&gt;</span>
			</p>
		</noscript>
		<br>
	</main>
</BaseLayout>
<script>
    import "../scripts/lastFM.js";
    import "../scripts/githubCommit.js";
    import "../scripts/copyButton.ts"
</script>