---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<style>
    .buttons-links img {
        width: 88px;
        height: 31px;
        image-rendering: pixelated;
    }
</style>
<BaseLayout pageTitle="please save me donald trump please">
    <main style="position: relative">
        <a href="https://plasma.nekoweb.org/" style="position: absolute; right: -10px; top: -5px; rotate: 15deg;">
            <img src="/assets/icons/plasma-ribbon.png">
        </a>

        <p>Neighbours/Friends:</p>
        <div class="buttons-links">
            <a href="https://displayman.neocities.org/"><img src="/assets/buttons/daniel.gif" alt="daniel"></a>
            <a href="https://rice.place/"><img src="/assets/buttons/rice.png" alt="rice"></a>
            <a href="https://obama.nekoweb.org/"><img src="https://obama.nekoweb.org/obbutton.png" alt="barack"></a>
            <a href="https://anyro.ad/" target="_blank"><img src="/assets/buttons/anyroad.gif" alt="my goat jon (3)"></a>
            <a href="https://jonathn.peanits.lol/"><img src="/assets/buttons/jonathn.gif" alt="my goat jon"></a>
            <a href="https://jhorn.net/"><img src="/assets/buttons/jhorn.jpg" alt="my goat jon (2)"></a>
            <a href="https://puffinthefish.neocities.org/"><img src="/assets/buttons/puffin.webp" alt="puffin"></a>
            <a href="https://joo.sh/"><img src="https://files.joo.sh/img/buttons/jooshRice.gif"></a>
            <a href="https://eyeorb.net/"><img src="https://eyeorb.net/site_button.gif" alt="eye"></a>
            <a href="https://toasty.place"><img src="https://toasty.place/images/buttons/sitebutton.gif" alt="toasty"></a>
            <a href="https://raccoonbutt.com"><img src="https://raccoonbutt.com/static/raccoonbutt.gif" alt="sempu"></a>
            <a href="https://azachi.nekoweb.org"><img src="https://azachi.nekoweb.org/assets/button.png" alt="Loor draws"></a>
            <a href="https://fudokidays.nekoweb.org/"><img src="https://fudokidays.nekoweb.org/assets/jr7DEcK%20-%20Imgur.gif" alt="Fudoki Days"></a>
            <a href="https://archi.moe/"><img src="https://archi.moe/images/button.png" alt="saber"></a>
            <a href="https://sad.ovh/"> <img src="/assets/buttons/sadovh.png" alt="sad.ovh"></a>
        </div>

        <p>Buttons of other cool sites</p>
        <div class="buttons-links">
            <a href="https://trademarkhell.net/"><img src="/assets/buttons/tmsspecialhell.png" alt="trademarkization company of 2003"></a>
            <a href="https://potentia.moe/"><img src="/assets/buttons/tm.gif" alt="potentia (terrible name btw)"></a>
            <a href="https://rice.place/"><img src="/assets/buttons/hai.gif" alt="haiweb"></a>
            <a href="https://onz.ee/"><img src="/assets/buttons/onzecki.avif" alt="onzecki"></a>
            <a href="https://incessantpain.neocities.org/"><img src="/assets/buttons/incessant.gif" alt="incessant pain"></a>
            <a href="https://housepen.nekoweb.org/"> <img src="/assets/buttons/housepen.avif" alt="housepen"></a>
            <a href="https://zptr.cc/"><img src="/assets/buttons/zptr.gif" alt="zeroptr"></a>
            <a href="https://melankorin.net/"><img src="https://melankorin.net/assets/img/buttons/button-1.gif" alt="melan korin"></a>
            <a href="https://scumpsmallbrain.neocities.org"> <img src="/assets/buttons/scump.gif" alt="scumps house"></a>
            <a href="https://goblin-heart.net/sadgrl/"> <img src="/assets/buttons/sadgrl.gif" alt="sadgrl"></a>
            <a href="https://melonking.net/"> <img src="/assets/buttons/melonking.gif" alt="melonking"></a>
            <a href="https://max.nekoweb.org/"> <img src="/assets/buttons/max.gif" alt="max"></a>
            <a href="https://riversons.art/"> <img src="/assets/buttons/rivblink.gif" alt="riverson"></a>
            <a href="https://nekoweb.org/"> <img src="/assets/buttons/nekoweb.gif" alt="nekoweb"></a>
            <a href="https://giikis2.nekoweb.org/"> <img src="https://giikis2.neocities.org/assets/badges/giikis2.png" width="88" height="31" alt="giiki"></a>
            <a href="https://dogspit.nekoweb.org/"><img src="https://i.imgur.com/0pnWFCL.png" alt="dogspit"></a>
            <a href="https://devastatia.com/"><img src="/assets/buttons/devastatia.png" alt="devastatia"></a>
            <a href="https://michiru.org/manga/join.php"><img src="/assets/buttons/manga.avif" alt="manga fanlisting"></a>
            <a href="https://poyoweb.poyo.study"><img src="https://raw.githubusercontent.com/mrdapoyo/poyoweb-node/refs/heads/main/public/buttons/carl-is-a-cunt.png" alt="poyoweb"></a>
            <a href="https://melps.neocities.org/"><img src="/assets/buttons/melps.jpg" alt="melps"></a>
            <a href="https://amapy.cc/"><img src="https://amapy.cc/i/88x31_anim.gif" alt="amapy"></a>
            <a href="https://darkosparko.nekoweb.org"><img src="https://darkosparko.nekoweb.org/rocket-button.gif" alt="Rocket into the Spark-Web!"></a>
            <a href="https://dreamscape.place"><img src="/assets/buttons/dreamscape.gif" alt="dreamscape"></a>
            <a href="https://reduxflakes.nekoweb.org/"><img src="/assets/buttons/redux.gif" alt="reduxflakes"></a>
            <a href="https://morushroom.nekoweb.org/"><img src="https://morushroom.nekoweb.org/button.png" alt="moru's pond"></a>
            <a href="https://toribytez.neocities.org/"><img src="https://toribytez.neocities.org/art/branding/trbz-btn.png" alt="toribytez"></a>
            <a href="https://banner.nekoweb.org/"><img src="/assets/buttons/bannerclub.png" alt="bannerclub"></a>
            <a href="https://cobie.nekoweb.org/"><img src="/assets/buttons/cobie.gif" alt="cobie"></a>
            <a href="https://cyberwright.nekoweb.org/" target="_blank"><img src="https://cyberwright.nekoweb.org/imgs/cyberwright-btn.png" alt="text 'cyberwright' on a generic blue sky green grass background"></a>
        </div>

        <p>Rings</p>
        <div style="display: flex; gap: 30px;">
            <div style="width: 104px; display: inline-block;">
                <a target="_blank" href="https://mr.jhorn.net/"><img style="image-rendering: pixelated;" src="/assets/buttons/music_disk.gif"></a>
                <div style="display: flex; gap: 10px;">
                    <a href="https://mr.jhorn.net/prev.php?slug=${slug}">prev</a>
                    <a href="https://mr.jhorn.net/rand.php">rand</a>
                    <a href="https://mr.jhorn.net/next.php?slug=${slug}">next</a>
                </div>
            </div>
            <div class="haiweb">
                <div id="my-webring" style="display: flex; gap: 10px;align-items:center;">
                    <a href="https://mlg.2000.hu/"><img src="https://rice.place/other/haiwebL.png"></a>
                    <div>
                        <a href="https://rice.place/haiweb.html" title="for the freaks &lt;3"><img src="https://rice.place/other/haiwebbing.gif"></a>
                    </div>
                    <a href="https://jonat.hn/"><img src="https://rice.place/other/haiwebR.png"></a>
                </div>
            </div>
        </div>
    </main>
    <div class="background-div bottom-div">
        <p>SITEMAP HERE</p>
    </div>
</BaseLayout>