---
title: "please save me donald trump please"
---

{% extends "base.njk" %}

{% block headStyle %}
  .sitemap-list li::before {
  content: "•";
  margin-right: 6px;
  }
  .sitemap-list ul li::before {
  content: "➤";
  }
  .sitemap-list ul ul li::before {
  content: "↳";
  }
  .buttons-links img {
    width: 88px;
    height: 31px;
    image-rendering: pixelated;
  }
  .sitemap-list {
    font-family: sans-serif;
  }
{% endblock %}

{% block content %}
  <main>

    <p>Buttons from sites I love or have inspired me in some way.</p>

    <div class="buttons-links">
      <a href="https://displayman.neocities.org/"><img src="/assets/Botón_página_Daniel.gif" alt="daniel"></a>
      <a href="https://onz.ee/"><img src="/assets/onzecki.avif" alt="onzecki"></a>
      <a href="https://incessantpain.neocities.org/"><img src="/assets/buttonincessant.gif" alt="pain"></a>
      <a href="https://rice.place/"><img src="/assets/riceplace.png"></a>
      <a href="https://trademarkhell.net/"><img src="https://eyeorb.net/images/tmsspecialhell.png" alt="trademarkization company of 2003"></a>
      <a href="https://sad.ovh/"> <img src="/assets/sadovh.png" alt="sad.ovh"></a>
      <a href="https://housepen.nekoweb.org/"> <img src="/assets/housepen.avif" alt="housepen"></a>
      <a href="https://zptr.cc/"><img src="/assets/@me.gif" alt="zeroptr"></a>
      <a href="https://melankorin.net/"><img src="https://melankorin.net/assets/img/buttons/button-1.gif" alt="melan korin"></a>
      <a href="https://obama.nekoweb.org/"><img src="https://obama.nekoweb.org/obbutton.png" alt="barack"></a>
      <a href="https://scumpsmallbrain.neocities.org"> <img src="/assets/scumpshouse.gif" alt="scumps house"></a>
      <a href="https://goblin-heart.net/sadgrl/"> <img src="/assets/sadgrl_online_learn.gif" alt="sadgrl"></a>
      <a href="https://melonking.net/"> <img src="/assets/melonking.gif" alt="melonking"></a>
      <a href="https://max.nekoweb.org/"> <img src="/assets/button.gif" alt="max"></a>
      <a href="https://riversons.art/"> <img src="/assets/rivblink.gif" alt="riverson"></a>
      <a href="https://nekoweb.org/"> <img src="/assets/button11.gif" alt="nekoweb"></a>
      <a href="https://giikis2.nekoweb.org/"> <img src="https://giikis2.neocities.org/assets/badges/giikis2.png" width="88" height="31" alt="giiki"></a>
      <a href="https://dogspit.nekoweb.org/"><img src="https://i.imgur.com/0pnWFCL.png" alt="dogspit"></a>
      <a href="https://devastatia.com/"><img src="/assets/devastatia-88x31.png" alt="devastatia"></a>
      <a href="https://michiru.org/manga/join.php"><img src="/assets/manga88x31.avif" alt="manga fanlisting"></a>
      <a href="https://jonathn.peanits.lol/"><img src="/assets/jonathn.gif" alt="my goat jon"></a>
      <a href="https://jhorn.net/"><img src="/assets/jhorn.net.jpg" alt="my goat jon (2)"></a>
      <a href="https://poyoweb.poyo.study"><img src="https://raw.githubusercontent.com/mrdapoyo/poyoweb-node/refs/heads/main/public/buttons/carl-is-a-cunt.png" alt="poyoweb"></a>
      <a href="https://joo.sh/"><img src="https://files.joo.sh/img/buttons/jooshRice.gif"></a>
      <a href="https://rice.place/"><img src="/assets/hai.gif" alt="haiweb"></a>
      <a href="https://eyeorb.net/"><img src="https://eyeorb.net/site_button.gif" alt="eye"></a>
      <a href="https://raccoonbutt.com"><img src="https://raccoonbutt.com/static/raccoonbutt.gif" alt="sempu"></a>
      <a href="https://puffinthefish.neocities.org/"><img src="/assets/pfnbutton.webp" alt="puffin"></a>
      <a href="https://melps.neocities.org/"><img src="/assets/melps.jpg" alt="melps"></a>
      <a href="https://amapy.cc/"><img src="https://amapy.cc/i/88x31_anim.gif" alt="amapy"></a>
      <a href="https://darkosparko.nekoweb.org"><img src="https://darkosparko.nekoweb.org/rocket-button.gif" alt="Rocket into the Spark-Web!"></a>
      <a href="https://potentia.moe/"><img src="/assets/tm.gif" alt="potentia (terrible name btw)"></a>
      <a href="https://dreamscape.place"><img src="/assets/dreamscape.gif" alt="dreamscape"></a>
      <a href="https://reduxflakes.nekoweb.org/"><img src="/assets/reduc_anim.gif" alt="reduxflakes"></a>
      <a href="https://morushroom.nekoweb.org/"><img src="https://morushroom.nekoweb.org/button.png" alt="moru's pond"></a>
      <a href="https://toribytez.neocities.org/"><img src="https://toribytez.neocities.org/art/branding/trbz-btn.png" alt="toribytez"></a>
      <a href="https://banner.nekoweb.org/"><img src="/assets/bannerclubbutton.png" alt="bannerclub"></a>
      <a href="https://cobie.nekoweb.org/"><img src="/assets/cobie_button.gif" alt="cobie"></a>
    </div>

    <p>Rings</p>
    <div style="display: flex; gap: 30px;">
      <div style="width:104px; display: inline-block;">
        <a target="_blank"href="https://mr.jhorn.net/"><img style="image-rendering: pixelated;" src="/assets/music_disk.gif"></a>
        <a href="//mr.jhorn.net/prev.php?slug=${slug}">prev</a>
        <a href="//mr.jhorn.net/rand.php">rand</a>
        <a href="//mr.jhorn.net/next.php?slug=${slug}">next</a>
      </div>

      <div class="haiweb">
        <div id="my-webring" style="display: flex; gap: 10px;align-items:center;">
        <a href="https://mlg.2000.hu/"><img src="https://rice.place/other/haiwebL.png"></a>
        <div><a href="https://rice.place/haiweb.html" title="for the freaks &lt;3"><img src="https://rice.place/other/haiwebbing.gif"></a></div>
        <a href="https://jonat.hn/"><img src="https://rice.place/other/haiwebR.png"></a>
      </div>
      </div>
    </div>
  </main>
  <div class="background-div bottom-div">
    <p>Tree of every page in my site. Any page that can only be found on this page is probably broken or something though.<p>
    {% macro renderTree(tree, basePath="") %}
    <ul class="sitemap-list" style="list-style-type: none;">
    {% for key, value in tree %}
        <li>
        {% if value.__data %}
            <a href="{{ value.__data.url }}">{{ value.__data.url }}</a>
        {% else %}
            {{ basePath ~ '/' ~ key }}/
        {% endif %}
        {% if value.__children %}
            {{ renderTree(value.__children, basePath ~ '/' ~ key) }}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endmacro %}

    {{ renderTree(collections.pageTree) }}
  </div>
{% endblock %}