---
import BaseLayout from "../layouts/BaseLayout.astro"
import Buttons from "../components/Buttons.astro"

const currentDate: Date = new Date();
---
<style>
    .sitemap-list li::before {
        content: "➤";
        margin-right: 6px;
    }
    .sitemap-list ul li::before {
        content: "↳";
    }
    ul {
        list-style-type: none;
    }
</style>
<BaseLayout title="please save me donald trump please">
    <main style="position: relative">
        <a href="https://plasma.nekoweb.org/" style="position: absolute; right: -10px; top: -5px; rotate: 15deg;">
            <img src="/assets/icons/plasma-ribbon.png">
        </a>
        <Buttons />
        <p>Rings</p>
        <div style="display: flex; gap: 30px;">
            <div style="width: 104px; display: inline-block;">
                <a target="_blank" href="https://mr.jhorn.net/"><img style="image-rendering: pixelated;" src="/assets/buttons/music_disk.gif"></a>
                <div style="display: flex; gap: 10px;">
                    <a href="https://mr.jhorn.net/prev.php?slug=${slug}">prev</a>
                    <a href="https://mr.jhorn.net/rand.php">rand</a>
                    <a href="https://mr.jhorn.net/next.php?slug=${slug}">next</a>
                </div>
            </div>
            <div class="haiweb">
                <div id="my-webring" style="display: flex; gap: 10px;align-items:center;">
                    <a href="https://mlg.2000.hu/"><img src="https://rice.place/other/haiwebL.png"></a>
                    <div>
                        <a href="https://rice.place/haiweb.html" title="for the freaks &lt;3"><img src="https://rice.place/other/haiwebbing.gif"></a>
                    </div>
                    <a href="https://jonat.hn/"><img src="https://rice.place/other/haiwebR.png"></a>
                </div>
            </div>
        </div>
    </main>
    <div class="background-div bottom-div">
        <ul class="sitemap-list">
            <li><a href="/">index</a></li>
            <li><a href="/links/">links</a> ← you are here!</li>
            <li>thoughts
                <ul>
                    <li><a href="/thoughts/grid/1">grid</a></li>
                </ul>
            </li>
            <li><a href="/guides/">guides</a></li>
            <li>ramblings
                <ul>
                    <li><a href={`/ramblings/${currentDate.getFullYear()}/${(currentDate.getMonth() + 1).toString().padStart(2, "0")}`}>calendar</a></li>
                    <li><a href="/ramblings/2026">2026</a></li>
                    <li><a href="/ramblings/2025">2025</a></li>
                    <li><a href="/ramblings/2024">2024</a></li>
                </ul>
            </li>
            <li><a href="/404/">404</a></li>
        </ul>
    </div>
</BaseLayout>