---
title: "do you lurk as good as you love?"
"layout": "layout.njk"
pagination:
    data: panels
    size: 5
    alias: panels
    addAllPagesToCollections: true
---

<input autocomplete="off" type="text" id="searchInput" placeholder="Search...">
<div id="searchResults"></div>

<div class="background-div">
  <p>Just some panels I think look cool. I won't be reusing any panels that I've used in my reviews page nor will I be using more than five panels per comic no matter how hard it is. Obvious spoiler warning, I'll try to blur any spoilers but I'll probably miss a few so watch out I guess. By the way what I consider a spoiler is an important character change (physically or mentally), story beat or a death. If you click unspoilered images they'll go fullscreen. Clicking spoilered images removes the blur.</p>
</div>

<div class="panels-images">
  {% for panel in panels %}
    <div class="background-div">
      <h1 id="{{ loop.index0 }}">{{ panel.name }}</h1>
        {% for i in range(1,6) %}
          {% set panelKey = "panel" ~ i %}
          {% set spoilerKey = "spoiler" ~ i %}
          {% if panel[panelKey] %}
            {% if panel[spoilerKey] %}
              <div class="spoiler-container">
                  <img class="spoiler" src="{{ panel[panelKey] }}" alt="{{ panel.name }}" loading="lazy" onclick="toggleFullscreen(this)">
                  <span class="spoiler-text">Spoiler</span>
              </div>
            {% else %}
              <img class="non-spoiler" src="{{ panel[panelKey] }}" alt="{{ panel.name }}" onclick="toggleFullscreen(this)" loading="lazy">
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
  {% endfor %}
</div>

<div class="pagination-container">
    <div class="pagination-buttons left">
        {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" id="previous-link">Previous</a>
        {% else %}
        <span>Previous</span>
        {% endif %}
    </div>

    <select id="pageDropdown" onchange="window.location.href=this.value;">
        {%- for pageEntry in pagination.pages %}
        <option value="{{ pagination.hrefs[loop.index0] }}" {% if page.url == pagination.hrefs[loop.index0] %} selected {% endif %}>
            Page {{ loop.index }}
        </option>
        {%- endfor %}
    </select>

    <div class="pagination-buttons right">
        {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" id="next-link">Next</a>
        {% else %}
        <span>Next</span>
        {% endif %}
    </div>
</div>

<script>
document.querySelectorAll(".spoiler").forEach(spoiler => {
    spoiler.addEventListener("click", () => {
        spoiler.classList.remove("spoiler");
        spoiler.closest(".spoiler-container").querySelector(".spoiler-text").style.display = "none";
    });
});

function toggleFullscreen(img) {
  if (!img.classList.contains("spoiler")) {
    if (!document.fullscreenElement) {
        img.requestFullscreen();
    } else {
        document.exitFullscreen();
    }
  }
}
</script>

<script src="/js/fusejs.js"></script>
<script>
document.addEventListener('keydown', function (event) {
  if (event.key === 'ArrowRight') {
    const nextLink = document.getElementById('next-link');
    if (nextLink) {
      window.location.href = nextLink.href;
    }
  } else if (event.key === 'ArrowLeft') {
    const previousLink = document.getElementById('previous-link');
    if (previousLink) {
      window.location.href = previousLink.href;
    }
  }
});

fetch('/_data/panels.json')
  .then(response => response.json())
  .then(data => {
    const options = {
      keys: ['name'],
      threshold: 0.3, // lower the number the more strict
    };

    const fuse = new Fuse(data, options);
    const searchInput = document.getElementById('searchInput');
    const searchResults = document.getElementById('searchResults');
    const pageName = '/_data/panels.json'.split('/')[2].replace('.json', '');

    searchInput.addEventListener('input', () => {
      const query = searchInput.value.trim();
      const results = fuse.search(query);
      searchResults.innerHTML = results.map(result => {
        // getting position of the item in the original array
        const itemIndex = data.indexOf(result.item);
        // dividing it by 100 then rounding down to find page number
        const pageNumber = Math.floor(itemIndex / 5);
        const itemAnchor = (itemIndex % 5);
        const pageLink = pageNumber === 0 ? `/pages/${pageName}/#${itemAnchor}` : `/pages/${pageName}/${pageNumber}#${itemAnchor}`;

        return `
          <div>
            <h1><a href="${pageLink}">${result.item.name}</a></h1>
          </div>
        `;
      }).join('');
    });
  });
  /*i asked some smart people and they said this script is gonna blow up if my json file gets too large, but i asked what they meant and they said
    like 1mb or larger and since its only 1/10th of that right now im just not gonna worry about it. im sure like 25 year old version of me will be able
    to solve this issue (technology will probably be so good by then that it wont matter anyways). life hack.*/
</script>
</div>