---
title: "ramblings"
---

{% extends "base.njk" %}

{% block headStyle %}
.home-button {
    background-color: blue;
}
{% endblock %}

{% block content %}
<div class="background-div">
    <div style="display:flex; justify-content:center; gap:8px; margin-bottom: 10px;">
        {{ emojis.cone | safe }}<span style="font-size:large;">How did you get here? This page is currently outdated and unused!</span>
    </div>
    <p>This is where im gonna write all the random shit i think that isn't really coherent enough to be a journal. click the things above to go to sections. if you're on a phone or a bad pc your device might blow up loading the page though.</p>

    <img src="/assets/fredrei.jpg">
    <img src="/assets/GSycK4fW8AAgtal.jpg">
    <img src="/assets/GLxjAMnXUAA_6_F.avif">
</div>
{% endblock %}