---
layout: "layout.njk"
title: "epic comic reivews"
header_img: "/assets/reviews.avif"
side_nav_img: "/assets/948816870864199720.avif"
---

<div class="background-div">
<div style="display:flex; justify-content:center; gap:8px; margin-bottom: 10px;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="20px" height="20px" viewBox="0 0 20 20"><path d="M10 12.078c2.39 0 4.392-.812 4.513-1.873l-1.125-3.152c-.264.761-1.725 1.301-3.388 1.301s-3.124-.54-3.388-1.301l-1.124 3.152c.121 1.061 2.122 1.873 4.512 1.873zm0-6.705c1.124 0 2.167-.348 2.473-.889-.421-1.182-.782-2.197-1.011-2.836C11.31 1.221 10.621 1 10 1s-1.31.221-1.462.648L7.527 4.484c.306.541 1.35.889 2.473.889zm8.78 7.693l-3.755-1.514.433 1.207c-.022 1.279-2.504 2.299-5.458 2.299-2.953 0-5.437-1.019-5.458-2.299l.433-1.207-3.755 1.514c-1.053.424-1.098 1.209-.098 1.744l7.062 3.787c.998.535 2.633.535 3.632 0l7.063-3.787c.999-.535.954-1.32-.099-1.744z"></path></svg>
    <span style="font-size:large;">How did you get here? This page is currently outdated and unused!</span>
</div>

<p>This where a host my "reviews". They are more like one sentence though unless i really liked or hated it. I also rate comics and books way more harshly because there is just a lot more slop there. you can click images to enlarge them. You can also click the average score box to get to a rating distribution page.</p>
    <p>Click <a href="https://github.com/Moosyu/moosyu.github.io/tree/master/src/_data">here</a> if you want the raw json files for my ratings, eitherwise click below</p>
    <table class="reviews-table">
            <tr>
                <td class="image-cell">
                    <img src="/assets/book3.gif" alt="book">
                </td>
                <td class="text-cell">
                    <a href="/pages/reviews/comics/">
                        <p>Comics &amp; Books</p>
                    </a>
                </td>
            </tr>
            <tr>
            <td class="image-cell">
                <img src="/assets/ps2_image.gif" alt="game">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/games/">
                    <p>Games</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/assets/tv.avif" alt="book">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/tv/">
                    <p>TV &amp; Movies</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/assets/record_player_md_wht.gif" alt="game">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/music/">
                    <p>Music</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/assets/golden_star.gif" alt="game">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/favourites/">
                    <p>Favourites</p>
                </a>
            </td>
        </tr>
    </table>
</div>