---
layout: "layout.njk"
title: "epic comic reivews"
header_img: "/assets/reviews.gif"
side_nav_img: "/assets/948816870864199720.webp"
---

<p>
    this where a host my "reviews". they are more like one sentence though unless i really liked or hated it.
    i also rate comics and books way more harshly because there is just a lot more slop there. you can click images to enlarge them.
</p>
<p>click <a href="https://github.com/Moosyu/moosyu.github.io/tree/master/src/_data">here</a> if you want the raw json files for my ratings, eitherwise click below</p>
<table class="reviews-table">
        <tr>
            <td class="image-cell">
                <img src="/assets/book3.gif" alt="book">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/comics/">
                    <p>comics and books</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/assets/ps2_image.gif" alt="game">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/games/">
                    <p>game and media</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/assets/tv.gif" alt="book">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/tv/">
                    <p>tv and movies</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/assets/record_player_md_wht.gif" alt="game">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/music/">
                    <p>singles and records</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/assets/golden_star.gif" alt="game">
            </td>
            <td class="text-cell">
                <a href="/pages/reviews/favourites/">
                    <p>favourites and things</p>
                </a>
            </td>
        </tr>
</table>
