---
import Emojis from "../components/Emojis.astro";

const currentPath = Astro.url.pathname;
const currentDate: Date = new Date();
const isNekowebBuild = import.meta.env.DEPLOY_TARGET === "nekoweb";
---
<style>
    .down-arrow-svg {
        width: 24px;
        height: 24px;
    }
</style>
<div class="navbar">
    <Emojis className="navbar-expander" name="down-arrow" />
        <div class="navbar-content">
        <a href="/" class={`home-navbtn ${currentPath === "/" ? "active-tab" : ""}`}><Emojis className="nav-emojis" name="home" />Home</a>
        <a href="/thoughts/grid/1" class={currentPath.startsWith("/thoughts") ? "active-tab" : ""}><Emojis className="nav-emojis" name="star" />Media Log</a>
        <div class="dropdown">
            <a class={`${currentPath.startsWith("/ramblings") ? "active-tab" : ""}`}><Emojis className="nav-emojis" name="speech" />Ramblings</a>
            <div class="dropdown-content">
                <a href={`/ramblings/${currentDate.getFullYear()}/${(currentDate.getMonth() + 1).toString().padStart(2, "0")}`}>Calendar</a>
                <a href="/ramblings/2026/">2026 entries</a>
                <a href="/ramblings/2025/">2025 entries</a>
                <a href="/ramblings/2024/">2024 entries</a>
            </div>
        </div>
        <a href="/guides/" class={currentPath.startsWith("/guides") ? "active-tab" : ""}><Emojis className="nav-emojis" name="book-blue" />Guides</a>
        <a href="/links/" class={currentPath.startsWith("/links") ? "active-tab" : ""}><Emojis className="nav-emojis" name="chain" />Links</a>
        <a target="_blank" href={isNekowebBuild ? "http://nekoweb.org/follow/moosyu.nekoweb.org" : "https://github.com/moosyu/"}><Emojis className="nav-emojis" name="heart" />Follow</a>
    </div>
</div>
<script>
    const navbarEl = document.querySelector(".navbar");
    const navbarArrowEl = document.querySelector(".down-arrow-svg");

    if (navbarEl && navbarArrowEl) {
        navbarArrowEl.addEventListener("click", () => {
            navbarEl.classList.toggle('expanded');
        });
    }
</script>