.date {
    margin-right: 10px;
}
#comments-box div a {
    text-decoration: none;
}
.replies {
    margin-left: 20px;
    border-left: 2px solid #ddd;
    padding-left: 10px;
}
.reply {
    margin-bottom: 10px;
}
#reply-form {
    margin-left: 20px;
    padding-left: 10px;
}
.highlight-mention {
    font-weight: 700!important;
    font-style: italic;
    background: linear-gradient(90deg, #ff66b2, #d084f7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#emoji-btn, #r_emoji-btn {
    cursor: pointer;
}
#emoji-selector, #r_emoji-selector {
    display: none;
    width: calc(100% - 45px);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px;
    color: white;
    align-items: center;
}
.emoji-listed {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 4px 4px 0 0;
}
