.inspired {
    text-align: center;
}

a:link {
    color: white;
}
  
a:visited {
    color: white;
}
  
a:hover {
    color: white;
}
  
a:active {
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #d6ecf3;
}
    
::-webkit-scrollbar-track {
    background: -webkit-linear-gradient(top, #ffadad 12.5%,#ffd6a5 25%,#fdffb6 37.5%,#caffbf 50%,#9bf6ff 62.5%,#a0c4ff 75%,#bdb2ff 87.5%, #ffc6ff 95%);
    border: 1px ridge #8f38ff;
}
::-webkit-scrollbar-thumb {
    background: #ADD8E6;
    border: 1px ridge #8f38ff;
    border-radius: 0px;
}

body {
    font-family: monospace;
}

a {
    font-size: 18px;
}

h2 {
    color: white;
}