.comment-title {
    font-weight: bold;
    padding-right: 16px;
}
.comment-item {
    background-color: #1f1e1e;
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
}
.reply-item, .reply-entry {
    margin: 10px 0 0 10px;
    background-color: #161515;
    border-radius: 6px;
    padding: 0 15px 10px 15px;;
}
.reply-entry {
    padding-top: 15px;
}
.reply-item::before {
    content: "";
    background-color: #fff;
    position: absolute;
    min-height: 100%;
    width: 2px;
    left: -10px;
}
.comment-content {
    overflow-wrap: break-word;
}
form textarea {
    width: 100%;
}
form textarea, form input {
    margin-bottom: 8px;
    padding: 12px 20px;
}
.submit-button {
    padding: 3px;
    cursor: pointer;
}
.comment-footer {
    display: flex;
    gap: 5px;
}
.comment-footer div {
    display: flex;
    gap: 0;
    align-items: end;
}

.form-buttons div, .comment-footer div {
    display: flex;
    gap: 0;
}

.comment-footer div {
    align-items: end;
}

.form-buttons div {
    align-items: center;
}

.collapsible-button {
    margin-top: 5px;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}
.collapsible-button:hover, .submit-button:hover {
    color: #fff;
}
form textarea, form input, .submit-button, .emoji-panel {
    background: linear-gradient(180deg, #212526e6 0, #1e2222e6 30%, #181f22e6 50%, #0d1013e6 100%);
    box-sizing: border-box;
    color: #fff;
    border: dotted #fff 1px;
    border-radius: 4px;
}
.hidden {
    display: none !important;
}
.collapsible-div {
    cursor: pointer;
}
.form-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
}
.form-buttons svg {
    cursor: pointer;
}
.emoji-panel {
    padding: 4px;
    align-items: center;
    margin-bottom: 8px;
    display: inline-block;
}
.emoji-panel .emoji-listed {
    width: 24px;
    height: 24px;
    display: inline-block;
    padding: 0 4px 0 4px;
}
.emoji-listed:hover {
    cursor: pointer;
}
.c-emoji {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
#next-link, #previous-link {
    color: #e23a45;
    cursor: pointer;
} 