.plus-symbol, .minus-symbol {
    cursor: pointer;
}

.cd-title {
    text-align: center;
}

.cd-rotate{
    margin: auto;
    padding: 5%;
    box-sizing: border-box;
    width: inherit;
    transition: transform .3s;
}

.cd-image{
    max-width: 20% !important;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 8px #000001, 0 0 0 12px #1c1b21, 0 0 0 16px #000001;
    background: radial-gradient(circle, #000001 20%, #1c1b21 21%, #000001 22%, #1c1b21 23%, #000001 24%, transparent 25%),
    radial-gradient(circle, #1c1b21 30%, #000001 31%, #1c1b21 32%, #000001 33%, #1c1b21 34%, transparent 35%);
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
}

.spin-animation {
    animation: spin infinite 5s linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#controls{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-sizing: border-box;
}

#controls > div{
    font-size: 40px;
    transition: text-shadow .3s, transform .3s;
}

#controls > div:hover{
    transform: scale(1.2);
    text-shadow: 0 0 11px white, 0 0 11px white;
    cursor: pointer;
}

.volume-slider {
    padding: 0px;
}