@font-face {
    font-family: Yellow_Balloon;
    src: url("/fonts/Yellow_Balloon.ttf");
}

* {
    scrollbar-gutter: stable
}

a {
    color: #e23a45;
}

body {
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    background-color: #1c2025;
    font-family: monospace;
}

.content-main {
    background-color: #1c2025;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.hamburger svg {
    transition: transform 0.3s ease;
    padding: 10px;
}

.hamburger.rotated svg {
    transform: rotate(90deg);
}

.navbar {
    display: none;
    margin: 5px 5px 5px 0;
}

.navbar.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.nav-left {
    display: flex;
    flex-direction: column;
    background-color: #272c33;
    border-radius: 4px;
    padding: 2px;
}

.nav-left a, button {
    color: white;
}

.navbar a, .dropdown .dropbtn {
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color:#272c33;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    transition: 0.2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.mainBox img, .mainBox video {
    max-width: 100%;
}

#searchInput {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    background-color: initial;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
}


@keyframes fadeSlideUp {
from {
    opacity: 0;
    transform: translateY(30px);
    }
to {
    opacity: 1;
    transform: translateY(0);
    }
}

.mainBox img, .mainBox video {
    max-width: 100%;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.pagination-buttons {
    display: flex;
    gap: 5px
}

.pagination-buttons.left {
    justify-content: flex-start
}

.pagination-buttons.right {
    justify-content: flex-end
}

#pageDropdown {
    padding: 5px;
    border-radius: 5px;
}

td, th {
    background-color: #272c33;
    border-radius: 4px;
}

.review_table td, .review_table th {
    padding: .5em;
    border-collapse: collapse;
    overflow-wrap: break-word;
    font-size: calc(.9vw + .9vh);
    width: 25%;
}

.buttons-links img {
    width: 88px;
    height: 31px;
}

@media screen and (min-width: 1200px) {
    .navbar {
        flex-direction: row;
        display: flex;
    }

    .nav-left {
        flex-direction: row;
    }

    .nav-right {
        margin-left: auto;
    }

    .hamburger {
        display: none;
    }
}