a {
    color: #e23a45;
}

body {
    font-family: monospace;
    background: #171b1f url("/assets/wall.png");
    margin: 0 auto;
    max-width: 1400px;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.content-main {
    color: white;
}

.container-main {
    padding: 10px;
}

.hamburger svg {
    padding: 10px;
}

.hamburger.rotated svg {
    transform: rotate(90deg);
}

.navbar {
    display: none;
    background: linear-gradient(180deg,
        #313436e6 0%,
        #2e3133e6 30%,
        #1d242ae6 50%,
        #0d1013e6 100%
    );
    border: dotted white 1px;
    margin: 10px 10px 0 10px;
    border-radius: 4px;
}

.navbar.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.nav-left {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.nav-left a, button {
    color: #e23a45;
    text-decoration: underline;
}

button:hover, a:hover {
    color: #36a3cf;
}

.navbar a, .dropdown .dropbtn {
    font-size: 24px;
    padding: 14px 16px;
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
}

.dropbtn:hover, .navbar a:hover {
    background: linear-gradient(180deg,
        #2d3032e6 0%,
        #1e2123e6 30%,
        #12171be6 50%,
        #090c0fe6 100%
    );
}

.dropbtn {
    background: none;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 999;
    background-color: #1a2024;
    border: dotted white;
    border-width: 0px 1px 1px 1px;
    border-radius: 4px;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.favourites-container img:hover {
    filter: brightness(90%);
    transform: scale(1.02);
    transition-duration: .15s;
    cursor: pointer;
}

.review_table tbody tr td img:hover {
    cursor: pointer;
}

.active-tab {
    background: linear-gradient(0deg,
        #2ca2d1 0%,
        #00000000 30%
    ) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-box img, .main-box video {
    max-width: 100%;
}

.background-div {
    background: linear-gradient(180deg,
        #212526e6 0%,
        #1e2222e6 30%,
        #181f22e6 50%,
        #0d1013e6 100%
    );
    padding: 10px;
    margin: 10px;
    border: dotted white 1px;
    border-radius: 4px;
}

#searchInput {
    padding: 12px 20px;
    background: linear-gradient(180deg,
        #212526e6 0%,
        #1e2222e6 30%,
        #181f22e6 50%,
        #0d1013e6 100%
    );
    box-sizing: border-box;
    color: white;
    margin: 10px 10px 0 10px;
    border: dotted white 1px;
    border-radius: 4px;
}

.description, #commit-div, #listening {
    background: linear-gradient(180deg,
        #212526e6 0%,
        #1e2222e6 30%,
        #181f22e6 50%,
        #0d1013e6 100%
    );
    padding: 10px;
    border: dotted white 1px;
    border-radius: 4px;
}

#commit-div, #listening {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updates-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

@keyframes fadeSlideUp {
from {
    opacity: 0;
    transform: translateY(30px);
    }
to {
    opacity: 1;
    transform: translateY(0);
    }
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background: linear-gradient(180deg,
        #212526e6 0%,
        #1e2222e6 30%,
        #181f22e6 50%,
        #0d1013e6 100%
    );
    border: dotted #fff 1px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.pagination-buttons {
    display: flex;
    gap: 5px
}

.pagination-buttons.left {
    justify-content: flex-start
}

.pagination-buttons.right {
    justify-content: flex-end
}

#pageDropdown {
    padding: 5px;
    background-color: #171b1f;
    color: white;
}

.review_table {
    border-collapse: separate;
    border-spacing: 7px;
}

.review_table td, .review_table th {
    padding: 8px;
    overflow-wrap: break-word;
    font-size: 16px;
    width: 25%;
    background-color: #171b1f;
    border: dotted white 1px;
    border-radius: 4px;
}

.buttons-links img {
    width: 88px;
    height: 31px;
}

#nekowebring {
    margin-bottom: 15px;
}

#nekowebring table {
    background: linear-gradient(#363a4f, #24273a, #1e2030);
    border: #181926 2px solid;
    padding: 7px;
    image-rendering: pixelated;
}

#nekowebring .webring-info {
    text-align: center;
}

#nekowebring .webring-prev,
#nekowebring .webring-next {
    text-align: center;
    vertical-align: middle;
}

#nekowebring .webring-links {
    font-size: small;
    text-align: center;
}

.favourites-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.favourites-item {
    text-align: center;
    width: calc(20% - 16px);
}

.favourites-item img {
    width: 100%;
    height: auto;
}

.music-table {
    border-collapse: collapse;
    letter-spacing: 1px;
    margin-top: 16px;
}

.music-table th, .music-table td {
    border: 1px dotted #fff;
    padding: 8px 10px;
}

.spoiler {
    cursor: pointer;
    filter: blur(15px);
    overflow: hidden;
}

.panels-images {
    padding: 25px;
    text-align: center;
}

.panels-images img {
    max-width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.blog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1200px) {
    .navbar {
        flex-direction: row;
        display: flex;
    }

    .nav-left {
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }
}