body {
    position: relative;
    font-family: monospace;
    background: #4798c9 url("/assets/backgrounds/wall_dark.png");
    margin: 10px auto;
    max-width: 1400px;
    overflow-y: scroll;
    color: #fff;
    padding: 5px;
    border: 1px dotted #fff;
    border-radius: 30px;
}

/* hacky (??) fix for stupid stacking context with backdrop-filter */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    backdrop-filter: grayscale(100%) brightness(35%) contrast(120%);
    border-radius: 30px;
    z-index: -1;
}

p {
    line-height: 1.5;
    font-family: sans-serif;
}

a {
    color: #e23a45;
}

button:hover, a:hover {
    color: #36a3cf;
}

.active-tab {
    background: linear-gradient(0deg,
        #2ca2d1 0%,
        #00000000 30%
    ) !important;
}

.background-div, .search-items-container, main {
    background-color: #111214;
    padding: 10px;
    margin: 10px;
    border: dotted white 1px;
    box-shadow: inset 0 55px 25px -25px #292b2d;
}

.background-div img, .background-div video, main img, main video {
    max-width: 100%;
}

.search-items-container h1 a {
    text-decoration: none;
}

.bottom-div {
    border-radius: 0 0 15px 15px;
}

.navbar {
    background: linear-gradient(180deg,
        #313436 0%,
        #2e3133 30%,
        #1d242a 50%,
        #0d1013 100%
    );
    border: dotted white 1px;
    margin: 10px;
    border-radius: 15px 15px 0 0;
    flex-direction: column;
    max-width: 100%;
}

.navbar a {
    font-size: 24px;
    padding: 14px 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-expander {
    padding: 14px 0;
    height: 24px;
    display: flex;
    justify-content: center;
}

.navbar-expander svg:hover {
    cursor: pointer;
}

.navbar-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.navbar.expanded .navbar-content {
    max-height: 550px;
    opacity: 1;
}

.home-navbtn {
    border-radius: 15px 0 0 0;
}

.navbar-expander svg {
    transition: transform 0.2s linear;
}

.navbar.expanded .navbar-expander svg {
    transform: rotate(180deg);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.dropdown a {
    cursor: default;
    width: 100%;
}

.navbar a:hover {
    background: linear-gradient(180deg,
        #2d3032e6 0%,
        #1e2123e6 30%,
        #12171be6 50%,
        #090c0fe6 100%
    );
}

.dropdown-content {
    position: absolute;
    top: 100%;
    z-index: 3;
    background-color: #1a2024;
    border: dotted white 1px;
    border-radius: 0 0 4px 4px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

/* text-align and justify-content in the same style... how daring of me */
.dropdown-content a {
    display: flex;
    justify-content: center;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    max-height: 400px;
    opacity: 1;
}

#searchInput {
    padding: 12px 20px;
    background: linear-gradient(180deg,
        #212526e6 0%,
        #1e2222e6 30%,
        #181f22e6 50%,
        #0d1013e6 100%
    );
    box-sizing: border-box;
    color: #FFF;
    margin-left: 10px;
    border: dotted white 1px;
    border-radius: 4px;
}

#commitsContainer, #lastHeardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111214;
    box-shadow: inset 0 55px 25px -25px #292b2d;
    padding: 20px;
    border: dotted #fff 1px;
}

.updates-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background: linear-gradient(180deg,
        #212526 0,
        #1e2222 30%,
        #181f22 50%,
        #0d1013 100%
    );
    border: dotted #fff 1px;
    border-radius: 0 0 15px 15px;
    margin: 10px;
}

.pagination-buttons {
    display: flex;
    gap: 5px
}

.pagination-buttons.left {
    justify-content: flex-start
}

.pagination-buttons.right {
    justify-content: flex-end
}

#pageDropdown {
    padding: 5px;
    background-color: #171b1f;
    color: #FFF;
    border-radius: 15px;
}

.spoiler-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
}

.spoiler-container img {
    transition: ease 0.3s;
}

.spoiler {
    cursor: pointer;
    filter: blur(35px);
}

.spoiler-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 16px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 4px;
}

.blog-post-item {
    background-color: #1f1e1e;
    margin: 10px;
    border: 1px white dotted;
    border-radius: 4px;
}

.blog-post-item:hover {
    background-color: #111214;
    transition: ease 0.1s;
}

.blog-post-item:hover .blog-title {
    text-decoration: underline;
    color: #36a3cf;
}

.blog-post-link {
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: inherit;
}

.blog-title {
    text-decoration: none;
    color: #e23a45;
}

.nav-emojis {
    height: 24px;
    width: 24px;
    display: block;
    margin-right: 5px;
}

/* .navbar-content a, .dropdown a, .navbar-content a:hover, .dropdown a:hover {
  animation: .5s calc(var(--animation-offset) * 50ms) cubic-bezier(.47, 1.64, .41, .8) forwards fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0) translateX(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
} */

@media screen and (min-width: 1125px) {
    .navbar {
        flex-direction: row;
        display: flex;
        width: auto;
    }

    .navbar-expander {
        display: none;
    }

    .navbar-content {
        max-height: 100%;
        opacity: 1;
        flex-direction: row;
        overflow: visible;
    }

    .dropdown-content {
        border-width: 0px 1px 1px 1px;
        min-width: 100%;
    }

    .dropdown a {
        cursor: default;
        width: auto;
    }

    .dropdown-content a {
        cursor: pointer;
    }

    .updates-container {
        flex-direction: row;
    }

    #commitsContainer, #lastHeardContainer {
        width: 100%;
    }

    .bookmarks-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .dropdown-content {
        transition: max-height 0.4s linear;
    }
}