html,
body {
	margin: 0;
	height: 100%;
	font-family: Sans-Serif;
	overflow: hidden;
}

#viewport {
	position: fixed;
	top: 25px; /* keep same height as nav */
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1;
	touch-action: none;
	user-select: none;
}

#viewport:active {
	cursor: grabbing;
}

#grid {
	position: absolute;
}

.tile {
	position: absolute;
	width: 250px;
	height: 250px;
	border: 1px solid #e4e4e5;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #767777;
	font-size: 14px;
	pointer-events: auto;
}

.tile:hover, .selected-tile {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 25px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e4e4e5;
	color: #000;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	font-size: 15px;
}

.nav-left,
.nav-right {
	display: flex;
}

nav span,
.kicya-logo {
	display: flex;
	align-items: center;
	padding: 0 10px;
	height: 100%;
	cursor: pointer;
}

.webtiles-item {
	color: #d95351;
	font-weight: bold;
	background-color: #f0f0f0;
}

.kicya-logo {
	height: 10px;
	margin: auto;
}

a {
	color: #000;
	text-decoration: none;
}

.tile-panel {
	width: 240px; /* tile width -10 */
	height: 20px;
	position: absolute;
	background-color: #fff;
	color: #000;
    border: 1px solid #e4e4e5;
    border-radius: 0 0 15px 15px;
    z-index: 3;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tile-panel-content {
	display: flex;
	justify-content: space-between;
}

.tile-panel-close, .tile-panel-content div span {
	color: #d95351;
	cursor: pointer;
}
.title-panel-details, .tile-panel-content div span {
	font-size: 14px;
}