{% extends "base.njk" %}

{% block title %}
  {{ title | default("moosyus crack emporium") }}
{% endblock %}

{% block content %}
{% if date %}
date created: {{ page.date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }).replace('.', '') }}
{% endif %}
{% for tag in tags %}
{% if tag != "blog" %}
  <a href="/tags/{{ tag }}">#{{ tag }}</a>
{% endif %}
{% endfor %}

{% if date %}
<h1>{{ title }}</h1>
{% endif %}

{{ content | safe }}

{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}

{% if date %}
<div class="pagination-container">
    <div class="pagination-buttons left">
        {% if previousPost %}
        <a href="{{ previousPost.url }}">Previous</a>
        {% else %}
        <span>Previous</span>
        {% endif %}
    </div>

    <select id="pageDropdown" class="pageDropdownBlog" onchange="window.location.href=this.value;">
        {% for post in collections.blog | reverse %}
        <option value="{{ post.url }}" {% if page.url == post.url %} selected {% endif %}>
            {{ post.data.title }}
        </option>
        {% endfor %}
    </select>

    <div class="pagination-buttons right">
        {% if nextPost %}
        <a href="{{ nextPost.url }}">Next</a>
        {% else %}
        <span>Next</span>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}

{% set hasContent2 = true %}
{% block content2 %}
<div class="empty-box">
    <p style="margin: 0; padding: 0; padding-top: 10px; padding-left: 10px;">tags:</p>
    <ul style="padding-bottom: 10px; font-size: 18px;">
        <li><a href="/tags/music">music</a></li>
        <li><a href="/tags/web">web</a></li>
        <li><a href="/tags/manga">manga</a></li>
        <li><a href="/tags/tech">tech</a></li>
    </ul>
</div>
{% endblock %}