{% extends "base.njk" %}

{% block title %}
  {{ title | default("moosyus crack emporium") }}
{% endblock %}

{% block headStyle %}
    th, td {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    text-align: left;
    }
{% endblock %}

{% block content %}
<div class="background-div">
    Date created: {{ page.date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }).replace('.', '') }}
    {% for tag in tags %}
    {% if tag != "blog" %}
    <a href="/tags/{{ tag }}">#{{ tag }}</a>
    {% endif %}
    {% endfor %}

    {{ content | safe }}

    {% set previousPost = collections.blog | getPreviousCollectionItem %}
    {% set nextPost = collections.blog | getNextCollectionItem %}

    <div class="pagination-container">
        <div class="pagination-buttons left">
            {% if previousPost %}
            <a href="{{ previousPost.url }}">Previous</a>
            {% else %}
            <span>Previous</span>
            {% endif %}
        </div>

        <select id="pageDropdown" class="pageDropdownBlog" onchange="window.location.href=this.value;">
            {% for post in collections.blog | reverse %}
            <option value="{{ post.url }}" {% if page.url == post.url %} selected {% endif %}>
                {{ post.data.title }}
            </option>
            {% endfor %}
        </select>

        <div class="pagination-buttons right">
            {% if nextPost %}
            <a href="{{ nextPost.url }}">Next</a>
            {% else %}
            <span>Next</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
