{% extends "base.njk" %}

{% set year = date.getFullYear() %}
{% set month = date.getMonth() + 1 %}

{% block content %}
  <div class="background-div">
  <a href="/pages/ramblings/calendar/{{ year }}/{{ month | formatDate }}/" class="back-button">Back</a>
  <h2>{{ date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }).replace('.', '') }}</h2>
  {{ content | safe }}
  </div>
{% endblock %}