{% extends "base.njk" %}

{% block title %}
  {{ title | default("moosyus crack emporium") }}
{% endblock %}


{% block content %}
<div class="main-box background-div">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <h3>Click images to view full size.</h3>
      <h3 style="text-align: right;"><a style="text-decoration: none;" href="javascript: document.body.scrollIntoView(false);">To bottom ↓</a></h3>
    </div>
    {{ content | safe }}
    <h3 style="text-align:right;"><a style="text-decoration: none;" href="#top">To top ↑</a></h3>
</div>

<script>
  document.querySelectorAll('img').forEach(img => {
    img.style.width = '20%';
    img.loading = 'lazy';
    img.addEventListener('click', () => {
      if (img.style.width != '20%') {
        img.style.width = '20%';
      } else {
        img.style.width = 'auto';
      }
    });
  });
</script>
{% endblock %}