{% extends "base.njk" %}

{% block title %}
  {{ title | default("moosyus crack emporium") }}
{% endblock %}


{% block content %}
<div class="main-box background-div">
    {{ content | safe }}
</div>
{% endblock %}