{% extends "base.njk" %}

{% block title %}
  {{ title | default("moosyus crack emporium") }}
{% endblock %}

{% block content %}
<input type="text" id="searchInput" placeholder="Search...">
<div id="searchResults"></div>
{{ content | safe }}
<div class="pagination-container">
    <div class="pagination-buttons left">
        {% if page.url != pagination.href.first %}
        <a href="{{ pagination.href.first }}">First</a>
        {% else %}
        <span>First</span>
        {% endif %}

        {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" id="previous-link">Previous</a>
        {% else %}
        <span>Previous</span>
        {% endif %}
    </div>

    <select id="pageDropdown" onchange="window.location.href=this.value;">
        {%- for pageEntry in pagination.pages %}
        <option value="{{ pagination.hrefs[loop.index0] }}" {% if page.url == pagination.hrefs[loop.index0] %} selected {% endif %}>
            Page {{ loop.index }}
        </option>
        {%- endfor %}
    </select>

    <div class="pagination-buttons right">
        {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" id="next-link">Next</a>
        {% else %}
        <span>Next</span>
        {% endif %}

        {% if page.url != pagination.href.last %}
        <a href="{{ pagination.href.last }}">Last</a>
        {% else %}
        <span>Last</span>
        {% endif %}
    </div>
</div>
<script src="/js/fusejs.js"></script>
<script>
document.addEventListener('keydown', function (event) {
  if (event.key === 'ArrowRight') {
    const nextLink = document.getElementById('next-link');
    if (nextLink) {
      window.location.href = nextLink.href;
    }
  } else if (event.key === 'ArrowLeft') {
    const previousLink = document.getElementById('previous-link');
    if (previousLink) {
      window.location.href = previousLink.href;
    }
  }
});

{% if image_fullscreen %}
    function toggleFullscreen(img) {
        if (!document.fullscreenElement) {
            img.requestFullscreen();
        } else {
            document.exitFullscreen();
        }
    }
{% endif %}

fetch('{{ jsonLocation }}')
  .then(response => response.json())
  .then(data => {
    const options = {
      keys: ['name', 'score', 'alt', 'artist'],
      threshold: 0.3, // lower the number the more strict
    };

    const fuse = new Fuse(data, options);
    const searchInput = document.getElementById('searchInput');
    const searchResults = document.getElementById('searchResults');
    const pageName = '{{ jsonLocation }}'.split('/')[2].replace('.json', '');

    searchInput.addEventListener('input', () => {
      const query = searchInput.value.trim();
      const results = fuse.search(query);
      searchResults.innerHTML = results.map(result => {
        // getting position of the item in the original array
        const itemIndex = data.indexOf(result.item);
        // dividing it by 100 then rounding down to fin page number
        const pageNumber = Math.floor(itemIndex / 100);
        const itemAnchor = (itemIndex % 100);
        const pageLink = pageNumber === 0 ? `/pages/reviews/${pageName}/#${itemAnchor}` : `/pages/reviews/${pageName}/${pageNumber}#${itemAnchor}`;

        return `
          <div>
            <h1><a href="${pageLink}">${result.item.name}</a></h1>
            ${pageName == "favourites" ? "" : `<p>score: ${result.item.score}/10</p>`}
            <p>${result.item.description}</p>
          </div>
        `;
      }).join('');
    });
  });
  /*i asked some smart people and they said this script is gonna blow up if my json file gets too large, but i asked what they meant and they said
    like 1mb or larger and since its only 1/10th of that right now im just not gonna worry about it. im sure like 25 year old version of me will be able
    to solve this issue (technology will probably be so good by then that it wont matter anyways) life hack.*/
</script>
{% endblock %}