{% extends "base.njk" %}

{% set guestbook_css %} {% include "../../css/jb-comments.css" %} {% endset %}
{% set lightbox_css %} {% include "../../css/glightbox.min.css" %} {% endset %}

{% block head %}
    <style>
        {{ guestbook_css | cssmin | safe }}
        {{ lightbox_css | cssmin | safe }}

        .media {
            width: auto;
            flex-shrink: 0;
        }
        .media img {
            border: 2px white dotted;
            border-radius: 20px;
            width: 50%;
        }
        .media img:hover {
            cursor: pointer;
        }
        .thoughts-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .thoughts-media {
            display: flex;
            flex-direction: row;
            gap: 10px;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 10px;
        }
        @media screen and (min-width: 700px) {
            .thoughts-content {
                flex-direction: row;
            }
            .thoughts-media {
                flex-direction: column;
                padding-bottom: 0;
            }
            .media {
                width: 300px;
            }
            .media img {
                width: auto;
            }
        }
    </style>
    <noscript>
        <style>
            .comment-section {
                display: none;
            }
        </style>
    </noscript>
{% endblock %}

{% block content %}
    <div class="background-div bottom-div">
        <div class="thoughts-content">
            {{ content | safe }}
        </div>
    </div>
    <script src="/js/glightbox.min.js"></script>
    <script>
    const lightbox = GLightbox();
    </script>
{% endblock %}
