.site-box .sitefeature {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 15px;
  background: url("//moosyu.nekoweb.org/assets/nekoweb-elements.png");
}
.site-box .sitefeature img {
    display: none;
}
.site-box {
  border-radius: 30px;
  background: url("//moosyu.nekoweb.org/assets/wall.png");
}
.site-box p {
  margin-top: 10px;
  color: #fff;
}
.site-box > a > span {
  display: none;
}
.post-box {
    background: url("//moosyu.nekoweb.org/assets/wall.png");
    color: #fff;
    font-family: Monospace;
    border: 1px #fff dotted;
}
.post-box .post-dot {
    display: none;
}
.post-box .post-date {
    float: right;
}
.post-box .post-title {
    font-family: Monospace;
}