---
permalink: feed.xml
---
<rss version="2.0">
    <channel>
        <title>moosyus awesome blog</title>
        <link>https://moosyu.github.io</link>
        <description>moosyu is online</description>
        {%- for post in collections.blog | reverse %}
        {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
        <item>
          <title>{{ post.data.title }}</title>
          <description>{{ post.data.description }}</description>
          <link>https://moosyu.com{{ absolutePostUrl }}</link>
          <guid>https://moosyu.com{{ absolutePostUrl }}</guid>
          <content type="html">{{ post.content | renderTransforms(post.data.page, metadata.base) }}</content>
          <pubDate>{{ post.date }}</pubDate>
        </item>
        {%- endfor %}
    </channel>
</rss>