---
permalink: feed.xml
---
<rss version="2.0">
    <channel>
        <title>moosyus awesome blog</title>
        <link>https://moosyu.github.io</link>
        <description>moosyu is online</description>{% for thought in thoughts %}{% if (thought.dateModified) %}
          <item>
            <title>{{ thought.name }}, {{ thought.score}}/10</title>
            <link>https://moosyu.github.io/pages/thoughts/{{ thought.name | slugify }}-{{ thought.type | slugify }}</link>
            <guid>{{ thought.name | slugify }}</guid>
            <pubDate>{{ thought.dateModified | dateConvert }}</pubDate>
          </item>{% endif %}{% endfor %}
    </channel>
</rss>