---
title: "moosyus wix site, v3"
---

{% extends "base.njk" %}

{% block content %}
{% set css %} {% include "./css/comment-widget.css" %} {% endset %}
<style>
    {{ css | cssmin | safe }}
</style>
<div class="container-main">
    <div style="display: flex; flex-direction: row; justify-content: center;">
    <div id="commit-div"></div>
    </div>
    <div class="description">
        <p><span style="font-size: 24px;">Hello!</span> Welcome to my super awesome and cool website. This is the terminally online equivalent to a diary so if you enjoy reading about strangers on the internet you'll love it here. If you got here trying to play Friday Night Funkin mods, skill issue.</p>
        <p>I've worked on and off on this for like three years, originally it was me trying to copy <a href="https://displayman.neocities.org/">Daniel's Virtual Place</a> but now it's more like an imbred distant relative. At this point its more like an amalgam of sites I like, but aren't we all? Hopefully the longer it lasts the more distinct the style will become. All the code is <a href="https://github.com/Moosyu/moosyu.github.io">public</a> and you're free to use it though it probably wasn't even mine in the first place.</p>
        <p>To travel around my webpage use the navigation bar on the right or click <a href="http://localhost:5501/pages/links/">links</a> to view every page!!</p>
        <p>If you're the scumfuck who was spamming my comment box you ruined my life kys.</p>
        <p>Add my button to your site:</p>
        <img src="/assets/button.png" style="width: 88px; height: 31px; image-rendering: pixelated;">
        <p>
            <span style="color: #83a598;">&lt;a</span> <span style="color: #d3869b;">href</span>=<span style="color: #b8bb26;">"https://moosyu.nekoweb.org/"</span><span style="color: #83a598;">&gt;</span><span style="color: #83a598;">&lt;img</span> <span style="color: #d3869b;">src</span>=<span style="color: #b8bb26;">"https://moosyu.nekoweb.org/assets/button.png"</span> <span style="color: #d3869b;">alt</span>=<span style="color: #b8bb26;">"moosyus awesome button"</span><span style="color: #83a598;">&gt;&lt;/a&gt;</span>
        </p>
    </div>
</div>
<script src="js/github-commit.js"></script>
{% endblock %}