---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

---
<BaseLayout title="blind leading the blind">
    <div class="background-div bottom-div">
        <p>Date created:</p>
        <slot />
    </div>
</BaseLayout>
