---
import BaseLayout from "./BaseLayout.astro";

const { title = "blind leading the blind", pubDate } = Astro.props;
---

<BaseLayout title={title}>
    <div class="background-div bottom-div">
        {pubDate && <p style="margin: 0;">Date created: {pubDate}</p>}
        <slot />
    </div>
</BaseLayout>
