---
import BaseLayout from "./BaseLayout.astro";

const { title, pubDate } = Astro.props;
---

<BaseLayout title={title || "blind leading the blind"}>
    <div class="background-div bottom-div">
        {pubDate ? <p>Date created: {pubDate}</p> : ""}
        <slot />
    </div>
</BaseLayout>
