name: Build and Deploy to Nekoweb

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install

      - name: Build the site with Astro
        run: npm run build
        env:
          DEPLOY_TARGET: nekoweb

      - name: Deploy to NekoWeb
        uses: indiefellas/deploy2nekoweb@main
        with:
          nekoweb-api-key: ${{ secrets.NEKOWEB_API_KEY }}
          nekoweb-domain: 'moosyu.nekoweb.org'
          nekoweb-username: 'moosyu'
          directory: 'dist'