<noscript>
    <style>
        .navbar-expander {
            display: none;
        }
        .navbar-content {
            max-height: 100%;
            opacity: 1;
        }
        .navbar {
            width: auto;
        }
        .comment-loading {
            display: none;
        }
    </style>
</noscript>